<h3>Establecimiento id nro° @id</h3>

<RadzenCard Class="m-3">
    <div class="row">
        <h4><strong>@oEstablecimiento.Nombre</strong></h4>
        <div class="col-md-6 col-xl-6">
            <div class="d-flex flex-row p-3">
                <div>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Activo?</RadzenText>
                    @if (oEstablecimiento.Activo.HasValue)
                    {
                        @if (oEstablecimiento.Activo.Value)
                        {
                            <RadzenText TextStyle="TextStyle.Body1"><b>Si</b></RadzenText>
                        }
                        else
                        {
                            <RadzenText TextStyle="TextStyle.Body1"><b>No</b></RadzenText>
                        }
                    }
                    else
                    {
                        <br />
                    }
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Codigo</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@oEstablecimiento.Codigo</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Encargado</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@oEstablecimiento.Encargado</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-1 mb-0">Socio</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@oEstablecimiento.NombreSocio</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-1 mb-0">Informacion Adicional</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@oEstablecimiento.Informacion</b></RadzenText>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6"> 
            <div class="d-flex flex-row p-3">
                <div>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Domicilio</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@oEstablecimiento.Domicilio</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Localidad</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@oEstablecimiento.Localidad</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Codigo Postal</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@oEstablecimiento.CodPostal</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Provincia</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@oEstablecimiento.Provincia</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Telefono</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@oEstablecimiento.Telefono</b></RadzenText>

                </div>
            </div>
        </div>
    </div>

</RadzenCard>

@code {
    Establecimiento oEstablecimiento = new();
    Respuesta<Establecimiento> oRta = new();
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int id { get; set; }
    protected override async Task OnInitializedAsync()
    {
        if (id != 0)
        {
            oRta = await Http.GetFromJsonAsync<Respuesta<Establecimiento>>($"/api/Establecimiento/{id}");
            oEstablecimiento = oRta.List;
        }
    }
    async Task cancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok($"Form was cancelled"));

    }

}

