@using Blazored.Typeahead
@using PaginaToros.Client.Servicios.Contrato;
@using System.Text
@using System.Security.Cryptography;

@inject HttpClient http
@inject NavigationManager uriHelper
@inject ISocioServicio _socioServicio
@inject AuthenticationStateProvider AuthenticationStateProvider

<style>
    .bm-title{
        font-size:25px;
        font-weight: bold;
    }
</style>
<div class="card" >
    <div class="card-body">
        <EditForm Model="@oSocio" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
            <div class="row" style="width=100%;">
                 <AuthorizeView Roles="ADMINISTRADOR,USUARIOMAESTRO">
                    <Authorized Context="authContext"> 
                <div class="col-sm">
                    <label>Codigo de Socio</label>
                    <InputText class="form-control"  
                               @bind-Value="@oSocio.Scod"
                               placeholder="Codigo"
                               disabled="@(oSocio.Id != 0)">
                    </InputText>
                    <ValidationMessage For="(()=> oSocio.Scod)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label>Nombre Completo</label>
                    <InputText class="form-control" @bind-Value="@oSocio.Nombre"
                               placeholder="Nombre"></InputText>
                    <ValidationMessage For="(()=> oSocio.Nombre)" style="color:red;" />
                </div>
                 </Authorized>
                </AuthorizeView>
                 <AuthorizeView Roles="Socio">
                    <Authorized Context="authContext"> 
                        <div class="col-sm">
                            <label>Codigo de Socio</label>
                            <InputText class="form-control" @bind-Value="@oSocio.Scod"
                                       placeholder="Codigo" disabled="true"></InputText>
                            <ValidationMessage For="(()=> oSocio.Scod)" style="color:red;" />
                        </div>
                        <div class="col-sm">
                            <label>Nombre Completo</label>
                            <InputText class="form-control" @bind-Value="@oSocio.Nombre"
                                       placeholder="Nombre" ></InputText>
                            <ValidationMessage For="(()=> oSocio.Nombre)" style="color:red;" />
                        </div>
                    </Authorized>
                </AuthorizeView>
                <div class="col-sm">
                    <label class="col-sm">Domicilio</label>
                    <InputText @bind-Value="@oSocio.Direcc1" class="form-control" placeholder="Domicilio"></InputText>
                    <ValidationMessage For="(()=> oSocio.Direcc1)" style="color:red;" />
                </div
                <div class="col-sm">
                    <label class="col-sm">Localidad</label>
                    <InputText @bind-Value="@oSocio.Locali1" class="form-control" placeholder="Localidad"></InputText>
                    <ValidationMessage For="(()=> oSocio.Locali1)" style="color:red;" />
                </div>
            </div>
            <br />
            <div class="row" style="width=100%;">
                <div class="col-sm">
                    <label>Codigo Postal</label>
                    <InputText class="form-control" @bind-Value="@oSocio.Codpos1" placeholder="Cod. Postal"></InputText>
                    <ValidationMessage For="(()=> oSocio.Codpos1)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label class="col-sm">Provincia</label>
                    <BlazoredTypeahead SearchMethod="@(text=> SearchMethod(text,provincias))" placeholder="Busca por nombre"  EnableDropDown="true" @bind-Value="tempProvincia">
                        <SelectedTemplate Context="eleccion">
                            @eleccion
                        </SelectedTemplate>
                        <ResultTemplate Context="eleccion">
                            @eleccion
                        </ResultTemplate>
                    </BlazoredTypeahead>
                </div
                <div class="col-sm">
                    <label class="col-sm">Telefono</label>
                    <InputText @bind-Value="@oSocio.Telefo1" class="form-control" placeholder="Telefono"></InputText>
                    <ValidationMessage For="(()=> oSocio.Telefo1)" style="color:red;" />
                </div>
            </div>
            <br />
            <div class="row" style="width=100%;">
                <div class="col-sm">
                    <label>2do Telefono</label>
                    <InputText class="form-control" @bind-Value="@oSocio.Telefo2" placeholder="2do telefono"></InputText>
                    <ValidationMessage For="(()=> oSocio.Telefo2)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label>Mail</label>
                    <InputText class="form-control" @bind-Value="@oSocio.Mail" placeholder="Mail"></InputText>
                    <ValidationMessage For="(()=> oSocio.Mail)" style="color:red;" />
                </div>
                <AuthorizeView Roles="ADMINISTRADOR,USUARIOMAESTRO">
                    <Authorized Context="authContext"> 
                        <div class="col-sm">
                            @if(Id != 0)
                            {
                                <label></label>

                                <button class="font-bold px-4 py-3 rounded-2xl bg-gray-200 hover:bg-gray-300 hover:border-transparent
                                    transition ease-in duration-100 transform hover:-translate-y-1 active:translate-y-0" 
                                    @onclick="()=>ChangeEmail()">Enviar mail de inscripción</button>
                            }
                        </div>
                    </Authorized>
                </AuthorizeView>

            </div>
            <br />
            <div class="row" style="width=100%;">
                <div class="col-sm">
                    <label>Fecha de Ingreso</label><br/>
                    <RadzenDatePicker TValue="DateTime" @bind-Value="@FechaTemp" ShowTime="false" ShowSeconds="false" DateFormat="dd/MM/yyyy" Class="w-75" />
                </div>
               <div class="col-sm">
                    <label>Plantel</label>
                    <InputText class="form-control"
                               @bind-Value="oSocio.Placod"
                               placeholder="Plantel"
                               maxlength="4" />
                    <ValidationMessage For="() => oSocio.Placod" style="color:red;" />
                </div>

                <div class="col-sm">
                    <label class="col-sm">Activo?</label><br/>
                    <input type="checkbox" @bind="@activo">
                </div>
                @* <div class="col-sm"/> *@
            </div>
            <br />
            <br />
            <button type="submit" class="btn btn-primary mr-2" disabled=@(disabled)>Aceptar</button>
            <button type="button" @onclick="cancel" class="btn btn-light">Cancelar</button>
        </EditForm>
    </div>
</div>
@code {
    SocioDTO oSocio = new();
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    Random random = new Random();
    bool disabled = false;
    User Usuario { get; set; } = new User() { Status = "ACTIVO" };
    [CascadingParameter] public IModalService Modal { get; set; }
    private const string validChars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890";


    [Parameter] public int Id { get; set; }
    [Parameter] public string cod { get; set; }
    DateTime FechaTemp = DateTime.Now.Date;
    public string tempProvincia = "";
    List<SocioDTO> socios = new();
    bool activo = true;
    bool logout = false;

    string email = "";


    List<string> provincias = new List<string> { "Buenos Aires", "Capital Federal","Catamarca","Chaco","Chubut","Cordoba","Corrientes","Entre Rios","Formosa",
    "Jujuy","La pampa","La rioja","Mendoza","Misiones","Neuquen","Rio negro","Salta","San Juan","San Luis","Santa Cruz","Santa Fe","Santiago Del Estero",
    "Tierra del fuego","Tucuman" };
    Dictionary<string, string> traductorProvincia = new Dictionary<string, string>
    {
        {"Chaco","01"},
        {"Corrientes","02"},
        {"Entre Rios","03"},
        {"Santa Fe","04"},
        {"Cordoba","05"},
        {"La pampa","06"},
        {"San Luis","07"},
        {"Santa Cruz","08"},
        {"Tierra del fuego","09"},
        {"Chubut","10"},
        {"Neuquen","11"},
        {"Rio negro","12"},
        {"Buenos Aires","13"},
        {"Capital Federal","14"},
        {"Catamarca","15"},
        {"Formosa","16"},
        {"Jujuy","17"},
        {"La rioja","18"},
        {"Mendoza","19"},
        {"Misiones","20"},
        {"Salta","21"},
        {"San Juan","22"},
        {"Santiago Del Estero","23"},
        {"Tucuman","24"},
        {"",""}
    };
    Dictionary<string, string> traductorProvinciaInverso = new Dictionary<string, string>
    {
        {"01", "Chaco"},
        {"02", "Corrientes"},
        {"03", "Entre Rios"},
        {"04", "Santa Fe"},
        {"05", "Cordoba"},
        {"06", "La pampa"},
        {"07", "San Luis"},
        {"08", "Santa Cruz"},
        {"09", "Tierra del fuego"},
        {"10", "Chubut"},
        {"11", "Neuquen"},
        {"12", "Rio negro"},
        {"13", "Buenos Aires"},
        {"14", "Capital Federal"},
        {"15", "Catamarca"},
        {"16", "Formosa"},
        {"17", "Jujuy"},
        {"18", "La rioja"},
        {"19", "Mendoza"},
        {"20", "Misiones"},
        {"21", "Salta"},
        {"22", "San Juan"},
        {"23", "Santiago Del Estero"},
        {"24", "Tucuman"},
        {"",""}
    };

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Id");
        Console.WriteLine(Id);
        var rta = await _socioServicio.LimitadosFiltrados(0, 0);
        socios = rta.List;

        Console.WriteLine(Id);

        try
        {
            socios = socios.Where(x=>x.Id!=Id).ToList();
        }
        catch{}
        if (Id != 0)
        {
            try
            {
                string filtro = $"Id = {Id}";
                var c = await _socioServicio.LimitadosFiltrados(0,1,filtro);
                oSocio = c.List.FirstOrDefault();


                if (oSocio.Criador == "S")
                {
                    activo = true;
                }
                else
                {
                    activo = false;
                }

                if (oSocio.Fecing.HasValue)
                {
                    FechaTemp = oSocio.Fecing.Value;
                }
                if (oSocio.Codpro1 != null)
                {
                    tempProvincia = traductorProvinciaInverso[oSocio.Codpro1];
                }
            }
            catch (Exception ex)
            {
            }

            email = oSocio.Mail;

        }
        else
        {
            var codigo = Int32.Parse(socios.First().Scod);
            oSocio.Scod= (codigo+1).ToString("D4");
        }
    }
    async Task Guardar()
    {
        disabled = true;

        if (!await ValidarObligatorios())
        {
            disabled = false;
            return;
        }

        var existeOtroConMismoCodigo = socios.Any(x => x.Scod == oSocio.Scod && x.Id != Id);
        if (existeOtroConMismoCodigo)
        {
            await alertaCodigo();
            disabled = false;
            return;
        }

        oSocio.Codpro1 = traductorProvincia[tempProvincia];

        oSocio.Fecing  = FechaTemp;
        oSocio.Criador = activo ? "S" : "N";

        if (Id == 0)
        {   
            await _socioServicio.Crear(oSocio);
        }
        else
        {   
        await _socioServicio.Editar(oSocio);
        }

    await ModalInstance.CloseAsync(ModalResult.Ok("Form was submitted successfully."));
    disabled = false;
    }



    async Task cancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok($"Form was cancelled"));

    }
    private async Task<IEnumerable<string>> SearchMethod(string searchText,List<string> lista)
    {
        var result = lista.Where(x => x.Contains(searchText, StringComparison.OrdinalIgnoreCase)).ToList();
        return await Task.FromResult(result);
    }
    public async Task alertaCodigo()
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "No se puede agregar este socio",
                Text = "No se puede agregar debido a que ya existe un socio con este codigo, por favor ingresar uno nuevo",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Aceptar",
                CancelButtonText = "Cancelar"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {

        }
        else if (result.Dismiss == DismissReason.Cancel)
        {

        }
    }







            public class SendResetMailRequest
            {
                public User Usuario { get; set; }
                public string NuevaContrasena { get; set; }
            }
           public class ResetPasswordModel
            {
                public int UserId { get; set; }
                public string Email { get; set; }
                public string Password { get; set; }
            }

         private async Task ChangeEmail()
        {
            if (email == Usuario.Email)
            {
                await Swal.FireAsync(new SweetAlertOptions {
                    Title = "Error",
                    Text = "Modifique el mail para poder realizar el cambio",
                    ConfirmButtonText = "Aceptar",
                });
                return;
            }

            var confirm = await Swal.FireAsync(new SweetAlertOptions {
                Title = "Confirmación",
                Text = "¿Está seguro de enviar el mail de inscripción?",
                Icon = "warning",
                ShowCancelButton = true,
                ConfirmButtonText = "Sí, enviar",
                CancelButtonText = "Cancelar"
            });
            if (!confirm.IsConfirmed) return;

            // Opcional: guardar cambios del socio antes de operar
            await Guardar(); // si esto cierra el modal actual, no hay drama, seguimos el flujo.

            var pswd = GenerateRandomPassword(random.Next(10, 14));
            // Completar datos del usuario
            Usuario.Email = email;
            Usuario.Phone = oSocio.Telefo1;
            Usuario.Names = oSocio.Nombre;
            Usuario.LastNames = oSocio.Nombre;
            Usuario.Dni = "0";
            Usuario.Rol = "Socio";
            Usuario.SocioId = oSocio.Id;

            var wait = Modal.Show<ModalWait>("", SharedModalOptions.modalOptionsWait);

            try
            {
                // 1) Crear usuario (flujo inscripción)
                var createResp = await http.PostAsJsonAsync($"api/Account/CreateUser?password={pswd}", Usuario);

                if (createResp.IsSuccessStatusCode)
                {
                    // 1.a) Enviar mail de inscripción
                    var mailInscripcion = await http.PostAsJsonAsync($"api/Account/SendMail2025?password={pswd}", Usuario);
                    wait.Close();

                    if (mailInscripcion.IsSuccessStatusCode)
                    {
                        await Swal.FireAsync(new SweetAlertOptions {
                            Title = "Éxito",
                            Text = "Usuario creado y mail de inscripción enviado.",
                            Icon = "success",
                            ConfirmButtonText = "Aceptar"
                        });
                    }
                    else
                    {
                        var msg = await mailInscripcion.Content.ReadAsStringAsync();
                        await Swal.FireAsync(new SweetAlertOptions {
                            Title = "Advertencia",
                            Text = $"Usuario creado, pero falló el envío del correo de inscripción.\n{msg}",
                            Icon = "warning",
                            ConfirmButtonText = "Aceptar"
                        });
                    }
                    return;
                }

                // 2) Usuario existente → resetear contraseña y enviar mail de reset
                var askReset = await Swal.FireAsync(new SweetAlertOptions {
                    Title = "Usuario registrado",
                    Text = "¿Desea cambiar la contraseña y enviar un mail de restablecimiento?",
                    Icon = "warning",
                    ShowCancelButton = true,
                    ConfirmButtonText = "Sí, enviar",
                    CancelButtonText = "Cancelar"
                });
                if (!askReset.IsConfirmed) { wait.Close(); return; }

               var resetPayload = new ResetPasswordModel
                {
                    UserId  = Usuario.Id,          
                    Email   = Usuario.Email,
                    Password = pswd
                };

                var resetResp = await http.PutAsJsonAsync("api/Account/ResetPassword", resetPayload);
                if (!resetResp.IsSuccessStatusCode)
                {
                    wait.Close();
                    var msg = await resetResp.Content.ReadAsStringAsync();
                    await Swal.FireAsync(new SweetAlertOptions {
                        Title = "Error",
                        Text = $"No se pudo actualizar la contraseña.\n{msg}",
                        Icon = "error",
                        ConfirmButtonText = "Aceptar"
                    });
                    return;
                }

                var mailReq = new SendResetMailRequest {
                    Usuario = Usuario,
                    NuevaContrasena = pswd
                };
                var mailResetResp = await http.PostAsJsonAsync("api/Account/SendResetMail", mailReq);

                wait.Close();

                if (mailResetResp.IsSuccessStatusCode)
                {
                    await Swal.FireAsync(new SweetAlertOptions {
                        Title = "Éxito",
                        Text = "La contraseña se actualizó y se envió el correo de restablecimiento.",
                        Icon = "success",
                        ConfirmButtonText = "Aceptar"
                    });
                }
                else
                {
                    var msg = await mailResetResp.Content.ReadAsStringAsync();
                    await Swal.FireAsync(new SweetAlertOptions {
                        Title = "Advertencia",
                        Text = $"La contraseña se actualizó, pero falló el envío del correo.\n{msg}",
                        Icon = "warning",
                        ConfirmButtonText = "Aceptar"
                    });
                }
            }
            catch (Exception ex)
            {
                wait.Close();
                await Swal.FireAsync(new SweetAlertOptions {
                    Title = "Error inesperado",
                    Text = ex.Message,
                    Icon = "error",
                    ConfirmButtonText = "Aceptar"
                });
            }
        }


private async Task<bool> ValidarObligatorios()
{
    var faltantes = new List<string>();

    if (string.IsNullOrWhiteSpace(oSocio.Nombre))   faltantes.Add("Nombre");
    if (string.IsNullOrWhiteSpace(oSocio.Mail))     faltantes.Add("Mail");
    if (string.IsNullOrWhiteSpace(oSocio.Direcc1))  faltantes.Add("Domicilio");
    if (string.IsNullOrWhiteSpace(tempProvincia))   faltantes.Add("Provincia");
    if (string.IsNullOrWhiteSpace(oSocio.Placod))   faltantes.Add("Plantel");

    if (faltantes.Count > 0)
    {
        // Lista en HTML prolija
        var html = "<ul style='text-align:left;margin:0 auto;max-width:320px'>" +
                   string.Join("", faltantes.Select(f => $"<li><b>{f}</b></li>")) +
                   "</ul>";

        await Swal.FireAsync(new SweetAlertOptions
        {
            Title = "Faltan datos obligatorios",
            Html  = $"Por favor, completá: {html}",
            Icon  = "error",
            ConfirmButtonText = "Aceptar"
        });

        return false;
    }

    // Validación mínima de email (opcional)
    try
    {
        var addr = new System.Net.Mail.MailAddress(oSocio.Mail);
        if (addr.Address != oSocio.Mail)
            throw new FormatException();
    }
    catch
    {
        await Swal.FireAsync(new SweetAlertOptions
        {
            Title = "Mail inválido",
            Text  = "Revisá el formato del correo electrónico.",
            Icon  = "error",
            ConfirmButtonText = "Aceptar"
        });
        return false;
    }

    // Provincia debe mapear a un código válido
    if (!traductorProvincia.ContainsKey(tempProvincia) ||
        string.IsNullOrWhiteSpace(traductorProvincia[tempProvincia]))
    {
        await Swal.FireAsync(new SweetAlertOptions
        {
            Title = "Provincia inválida",
            Text  = "Seleccioná una provincia de la lista.",
            Icon  = "error",
            ConfirmButtonText = "Aceptar"
        });
        return false;
    }

    return true;
}




// Password SIEMPRE en MAYÚSCULAS + dígitos
    public static string GenerateRandomPassword(int length)
    {
        const string UPPER = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        const string DIGITS = "0123456789";
        string ALL = UPPER + DIGITS;

        using var rng = System.Security.Cryptography.RandomNumberGenerator.Create();
        int Next(int max)
        {
            Span<byte> b = stackalloc byte[4];
            rng.GetBytes(b);
            return (int)(BitConverter.ToUInt32(b) % (uint)max);
        }

        var sb = new StringBuilder();
        sb.Append(UPPER[Next(UPPER.Length)]);
        sb.Append(DIGITS[Next(DIGITS.Length)]);

        while (sb.Length < Math.Max(length, 10))
            sb.Append(ALL[Next(ALL.Length)]);

        var arr = sb.ToString().ToCharArray();
        for (int i = 0; i < arr.Length; i++)
        {
            int j = Next(arr.Length);
            (arr[i], arr[j]) = (arr[j], arr[i]);
        }
        return new string(arr);
    }
}
