@using Blazored.Typeahead
@using PaginaToros.Client.Servicios.Contrato;
@inject ISocioServicio _sociosServicio
@inject ITranssbServicio _transsbServicio
@inject IEstableServicio _estableServicio
@inject ITorosServicio _torosServicio
@inject HttpClient http
<style>
    .bm-title {
        font-size: 25px;
        font-weight: bold;
    }
</style>
@if(establecimientos.Count>0){
<div class="card">
    <div class="card-body">
        <EditForm Model="@oTranssb" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
           
            <div class="row" style="width=100%;">
                <div class="col-sm">
                    <label>Socio Vendedor</label><br />
                    <BlazoredTypeahead SearchMethod="BusquedaSocios" placeholder="Buscar por nombre" Disabled="IdSocio!=null" EnableDropDown="true" @bind-Value="socioVendedor">
                        <SelectedTemplate Context="eleccion">
                            @eleccion.Nombre
                        </SelectedTemplate>
                        <ResultTemplate Context="eleccion">
                            @eleccion.Nombre
                        </ResultTemplate>
                    </BlazoredTypeahead>
                </div>
                <div class="col-sm">
                    <label>Socio Comprador</label>
                    <BlazoredTypeahead SearchMethod="BusquedaSocios" placeholder="Busque socio por nombre" EnableDropDown="true" TItem="SocioDTO" TValue="SocioDTO" Value="socioComprador" ValueChanged="updateComprador" ValueExpression="@(() => socioComprador)">
                        <SelectedTemplate Context="eleccion">
                            @eleccion.Nombre
                        </SelectedTemplate>
                        <ResultTemplate Context="eleccion">
                            @eleccion.Nombre
                        </ResultTemplate>
                    </BlazoredTypeahead>
                </div>
                <div class="col-sm">
                    <label class="col-sm">Establecimiento</label>
                    <BlazoredTypeahead SearchMethod="BusquedaEstablecimientos" placeholder="Buscar por nombre" EnableDropDown="true" @bind-Value="establecimientoSeleccionado">
                        <SelectedTemplate Context="eleccion">
                            @eleccion.Nombre
                        </SelectedTemplate>
                        <ResultTemplate Context="eleccion">
                            @eleccion.Nombre
                        </ResultTemplate>
                    </BlazoredTypeahead>
                </div>
            </div>
            <br />
                <div class="row" style="width=100%;">
                    <div class="col-sm">
                        <label class="col-sm">Nro Certificado</label>
                        <InputText @bind-Value="@oTranssb.NroTrans" class="form-control" placeholder=""></InputText>
                        <ValidationMessage For="(()=> oTranssb.NroTrans)" style="color:red;" />
                    </div>
                    <div class="col-sm">
                        <label class="col-sm">Nro de orden</label>
                        <InputText @bind-Value="@oTranssb.NroOrden" class="form-control" placeholder=""></InputText>
                        <ValidationMessage For="(()=> oTranssb.NroOrden)" style="color:red;" />
                    </div>
                    <div class="col-sm">
                        <label class="col-sm">Toro Seleccionado</label>
                        <br />


                        <BlazoredTypeahead SearchMethod="BusquedaToros" placeholder="Busque por nombre" EnableDropDown="true" TItem="TorosuniDTO" TValue="TorosuniDTO" Value="toroSeleccionado" ValueChanged="updateToro" ValueExpression="@(() => toroSeleccionado)">
                            <SelectedTemplate Context="eleccion">
                                @eleccion.NomDad
                            </SelectedTemplate>
                            <ResultTemplate Context="eleccion">
                                @eleccion.NomDad
                            </ResultTemplate>
                        </BlazoredTypeahead>
                        <p>*La busqueda del toro se realiza por Nro de Identificacion</p>
                    </div>
                </div>
                <br />
                <div class="row" style="width=100%;">
                    <div class="col-sm">
                        <label class="col-sm">Mail</label>
                        <InputText @bind-Value="@direccionCompra" class="form-control" placeholder=""></InputText>
                        <ValidationMessage For="(()=> direccionCompra)" style="color:red;" />
                        <p>*Una vez seleccionado el socio se llenara este campo</p>
                    </div>
                </div>
                <br />
                <br />
            <button type="submit" class="btn btn-primary mr-2">Aceptar</button>
            <button type="button" @onclick="cancel" class="btn btn-light">Cancelar</button>
        </EditForm>
    </div>
</div>
}
else
{
    <br />
    <center>
        <div class="mb-2">
            <br />
            <RadzenProgressBar style="position:relative;width:93.5%" Value="100" ShowValue="false" ProgressBarStyle="ProgressBarStyle.Primary" Mode="ProgressBarMode.Indeterminate" />
        </div>
    </center>
}
@code {
    TranssbDTO oTranssb = new();
    SocioDTO? socioComprador = null;
    SocioDTO? socioVendedor = null;
    List<SocioDTO> socios = new();
    List<EstableDTO> establecimientos = new();
    List<TorosuniDTO> toros = new();
    EstableDTO establecimientoSeleccionado = new();
    TorosuniDTO toroSeleccionado = null;
    IList<User> Usuarios;

    string direccionCompra = "";
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int Id { get; set; }
    [Parameter] public int?  IdSocio { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var rta = await _sociosServicio.LimitadosFiltrados(0, 0);
        socios = rta.List;
        Console.WriteLine(1);
        var rt = await _estableServicio.LimitadosFiltradosNoInclude(0, 0);
        establecimientos = rt.List;
        Console.WriteLine(2);
        var result = await http.GetAsync($"api/Account/GetUsers/TODO/TODO/1");
        var response = JsonSerializer.Deserialize<ResponseForList>(result.Content.ReadAsStringAsync().Result);
        Usuarios = JsonSerializer.Deserialize<IList<User>>(response.EntitiesPricipal);
        Console.WriteLine(3);
        var rtt = await _torosServicio.LimitadosFiltradosNoInclude(0, 0);
        toros = rtt.List;
        toros = toros.Where(x=>x.TipToro=="S" && x.CodEstado=="1").ToList();
        Console.WriteLine(4);
        if (IdSocio != null || IdSocio != 0)
        {
            socioVendedor = socios.Where(x => x.Id == IdSocio).FirstOrDefault();
        }
        if (Id != 0)
        {
            try
            {
                string filtro = $"Id = {Id}";
                var r = await _transsbServicio.LimitadosFiltradosNoInclude(0, 1, filtro);
                oTranssb = r.List.FirstOrDefault() ;
                try{
                    socioComprador = socios.Where(x => x.Scod == oTranssb.Scom).First();
                    socioVendedor = socios.Where(x => x.Scod == oTranssb.Sven).First();
                    establecimientoSeleccionado = establecimientos.Where(x => x.Ecod == oTranssb.Ecod).First();
                    toroSeleccionado = toros.Where(x => x.Id == oTranssb.Torovendido).FirstOrDefault() ?? new TorosuniDTO();
                }
                catch
                {

                }
            }
            catch (Exception ex)
            {
            }
        }
    }
    async Task Guardar()
    {
        oTranssb.Vnom = socioVendedor.Nombre;
        oTranssb.Cnom = socioComprador.Nombre;
        oTranssb.Sven = socioVendedor.Scod;
        oTranssb.Scom = socioComprador.Scod;
        oTranssb.Ecod = establecimientoSeleccionado.Ecod;
        oTranssb.Torovendido = toroSeleccionado.Id;
        toroSeleccionado.Criador = socioComprador.Scod;

        if (toroSeleccionado == null)
        {
            Console.WriteLine("!!!");
            return;
        }

        Console.WriteLine("Entro");
        Console.WriteLine(oTranssb.Vnom);
        Console.WriteLine(oTranssb.Torovendido);
        Console.WriteLine(oTranssb.Vnom);
        Console.WriteLine(socioVendedor.Id);
        Console.WriteLine(socioComprador.Id);
        Console.WriteLine(socioVendedor.Nombre);

        await _torosServicio.Editar(toroSeleccionado);
        if (Id == 0)
        {
            await _transsbServicio.Crear(oTranssb);


            var mail = $"Aviso de  transferencia S/ \nNro de transaccion: {oTranssb.NroTrans} \nSocio Vendedor: {socioVendedor.Nombre} \nSocio Comprador: {socioComprador.Nombre} \n Informacion del toro seleccionado: \n-Tatuaje: {toroSeleccionado.Tatpart} \n-HBA: {toroSeleccionado.Hba} \n-Nombre: {toroSeleccionado.NomDad}";
            var request = new
            {
                Tipo = socioVendedor.Id,
                Clase = socioComprador.Id,
                Mail = mail,
                Nombre = socioVendedor.Nombre
            };
            HttpResponseMessage response = await http.PostAsJsonAsync($"api/Transan/SendMailChange", request);
            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
        else
        {

            var mail = $"Aviso de edición transferencia S/ \nNro de transaccion: {oTranssb.NroTrans} \nSocio Vendedor: {socioVendedor.Nombre} \nSocio Comprador: {socioComprador.Nombre} \n Informacion del toro seleccionado: \n-Tatuaje: {toroSeleccionado.Tatpart} \n-HBA: {toroSeleccionado.Hba} \n-Nombre: {toroSeleccionado.NomDad}";
            var request = new
            {
                Tipo = socioVendedor.Id,
                Clase = socioComprador.Id,
                Mail = mail,
                Nombre = socioVendedor.Nombre
            };
            HttpResponseMessage response = await http.PostAsJsonAsync($"api/Transan/SendMailChange", request);
            await _transsbServicio.Editar(oTranssb);
            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
    }
    async Task cancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok($"Form was cancelled"));

    }

    private async Task<IEnumerable<SocioDTO>> BusquedaSocios(string searchText)
    {
        var result = socios.Where(x => x.Criador=="S" &&  x.Nombre.Contains(searchText, StringComparison.OrdinalIgnoreCase)).ToList();
        return await Task.FromResult(result);
    }


    private async Task<IEnumerable<EstableDTO>> BusquedaEstablecimientos(string searchText)
    {
        var result = establecimientos.Where(x => x.Codsoc==socioComprador.Scod && x.Nombre.Contains(searchText, StringComparison.OrdinalIgnoreCase)).ToList();
        return await Task.FromResult(result);
    }
    private async Task<IEnumerable<TorosuniDTO>> BusquedaToros(string searchText)
    {
        var result = toros.Where(x => x.Criador==socioVendedor.Scod && x.NomDad.Contains(searchText, StringComparison.OrdinalIgnoreCase)).ToList();
        return await Task.FromResult(result);
    }
    protected async Task updateComprador(SocioDTO socio)
    {
        socioComprador = socio;
        var usuarioComprador = Usuarios.Where(x => x.SocioId == socio.Id).ToList().First();
        direccionCompra = usuarioComprador.Email;
    }

    protected async Task updateToro(TorosuniDTO toro)
    {
        toroSeleccionado = toro;

    }
}
