@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims

<style>
    .nav-link {
        font-weight: 700;
    }

    .navbar {
        position: relative; 
        background-color: #059669; 
    }

        .navbar::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: -100vw; 
            right: -100vw; 
            background-color: #059669; 
            z-index: -1; 
        }
</style>

<AuthorizeView Roles="ADMINISTRADOR,USUARIOMAESTRO">
    <Authorized>
        <nav class="navbar navbar-expand-md bg-green-600 mb-4">
            <div class="container-fluid">
                <a href="" class="pr-5"<img src="images/LOGO PRINCIPAL.png" class="pb-3 font-bold text-xl h-26 w-40 pt-3" style="padding-right:10px;width:100px;height:auto"alt="Logo"></a>
                <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
                    @*<span class="navbar-toggler-icon"></span>*@
                    <FeatherList Color="black"></FeatherList>
                </button>
                <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="hover:bg-green-500 rounded-2xl">
                            <NavLink class="nav-link text-black text-lg font-bold" href="" Match="NavLinkMatch.All" style="color:#133c62">
                                Inicio
                            </NavLink>
                        </li>
                        <li class="nav-item group ">
                            <span class="nav-link text-black text-lg font-bold">Socios</span>
                        <li class="nav-item-content rounded-xl" style="background-color:#10B981">
                            <div>
                                <NavLink class="dropdown nav-link text-black bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="socios">
                                    &nbspListado
                                </NavLink>
                            </div>
                            <div>
                                <NavLink class="dropdown nav-link text-black bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="establecimientos">
                                    &nbspEstablecimientos
                                </NavLink>
                            </div>
                        </li>
                        <li class="nav-item-content rounded-full">

                        </li>
                        </li>
                        <li class="nav-item group ">
                            <span class="nav-link group text-black group-hover:bg-green-500 hover:bg-blue-400 rounded-2xl">Planteles</span>
                        <li class="nav-item-content rounded-xl" style="background-color:#10B981">
                            <NavLink class="dropdown nav-link text-black bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="Planteles">
                                &nbspListado
                            </NavLink>
                        </li>
                        </li>

                        <li class="nav-item group ">
                            <span class=" nav-link group text-black group-hover:bg-green-500 rounded-2xl">Inspecciones</span>
                        <li class="nav-item-content rounded-xl" style="background-color:#10B981">
                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="Inspectores">
                                    &nbspInspectores
                                </NavLink>
                            </div>
                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="solicitudesinspeccion">
                                    &nbspSolicitudes
                                </NavLink>
                            </div>
                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="reportes">
                                    &nbspResultados
                                </NavLink>
                            </div>
                        </li>
                        <li class="nav-item-content rounded-full">

                        </li>
                        </li>
                        <li class="nav-item group ">
                            <span class="nav-link group text-black group-hover:bg-green-500 rounded-2xl">Toros Padres</span>
                        <li class="nav-item-content rounded-xl" style="background-color:#10B981">
                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="toros">
                                    &nbspListado
                                </NavLink>
                            </div>
                        </li>
                        <li class="nav-item-content rounded-full">

                        </li>
                        </li>
                        <li class="nav-item group ">
                            <span class="nav-link group text-black group-hover:bg-green-500 rounded-2xl">Centros de IA</span>
                        <li class="nav-item-content rounded-xl" style="background-color:#10B981">
                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="centros">
                                    &nbspListado
                                </NavLink>
                            </div>
                        </li>
                        <li class="nav-item-content rounded-full">

                        </li>
                        </li>
                        <li class="nav-item group ">
                            <span class="nav-link group text-black group-hover:bg-green-500 rounded-2xl">Certificados de semen</span>
                        <li class="nav-item-content rounded-xl" style="background-color:#10B981">
                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="certificados">
                                    &nbspListado
                                </NavLink>
                            </div>
                        </li>
                        <li class="nav-item-content rounded-full">

                        </li>
                        </li>
                        <li class="nav-item group ">
                            <span class="nav-link group text-black group-hover:bg-green-500 rounded-2xl">Transferencias</span>
                        <li class="nav-item-content rounded-xl" style="background-color:#10B981">
                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="transan">
                                    &nbspAnimales
                                </NavLink>
                            </div>
                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="transsb">
                                    &nbspToros S/
                                </NavLink>
                            </div>
                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="transfu">
                                    &nbspFuturo Control
                                </NavLink>
                            </div>

                        </li>
                        <li class="nav-item-content rounded-full">

                        </li>
                        </li>
                        <li class="nav-item group ">
                            <span class="nav-link group text-black group-hover:bg-green-500 rounded-2xl">Declaraciones de servicio</span>
                        <li class="nav-item-content rounded-xl" style="background-color:#10B981">
                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="declaraciones">
                                    &nbspListado
                                </NavLink>
                            </div>
                        </li>
                        <li class="nav-item-content rounded-full">

                        </li>
                        </li>
                        <li class="hover:bg-green-500 rounded-2xl">
                            <NavLink class="nav-link text-black" href="animalescontrol" Match="NavLinkMatch.All" style="color:#133c62">
                                Animales Para Control
                            </NavLink>
                        </li>


                        <li class="nav-item group ">
                            <span class="nav-link group text-black group-hover:bg-green-500 rounded-2xl">Informes</span>
                        <li class="nav-item-content rounded-xl" style="background-color:#10B981">
                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="reportegeneral">
                                    &nbspInspecciones
                                </NavLink>
                            </div>
                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="reporteplantel">
                                    &nbspPlanteles
                                </NavLink>
                            </div>

                        </li>
                      
                        </li>

                      <li class="nav-item group text-black group-hover:bg-green-500 rounded-2xl flex items-center gap-2">
                            <span class="nav-link group text-black group-hover:bg-green-500 rounded-2xl flex items-center gap-2">
                                <FeatherUser Color="Black"></FeatherUser>
                                <p>@displayUser</p>
                            </span>
                        <li class="nav-item-content rounded-xl" style="background-color:#93C5FD">
                            <div>
                                <NavLink class="dropdown nav-link text-black bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="usuarios">
                                    &nbspVer usuarios
                                </NavLink>
                            </div>
                            <div>
                                <NavLink class="dropdown nav-link text-black bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="registrousuario">
                                    &nbspCrear usuario
                                </NavLink>
                            </div>
                            <div>
                                <NavLink class="dropdown nav-link text-black bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="logout">
                                    &nbspCerrar sesion
                                </NavLink>
                            </div>
                            <div>
                                <NavLink class="dropdown nav-link text-black bg-green-500 hover:bg-green-400 rounded-md" href="CambiarPassword">
                                    &nbspCambiar Contraseña
                                </NavLink>
                            </div>
                        </li>
                     </li>

                    </ul>
                </div>
            </div>
        </nav>

    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="Socio">
    <Authorized>
        <nav class="navbar navbar-expand-md bg-green-600 mb-4">
            <div class="container-fluid">
                <a href="" class="pr-5"<img src="images/LOGO PRINCIPAL.png" class="pb-3 font-bold text-xl h-26 w-40 pt-3" style="padding-right:10px;;width:100px;height:auto"alt="Logo"></a>
                <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
                    @*<span class="navbar-toggler-icon"></span>*@
                    <FeatherList Color="black"></FeatherList>
                </button>
                <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class=" hover:bg-green-500 rounded-2xl">
                            <NavLink class="nav-link text-black" href="" Match="NavLinkMatch.All" style="color:#133c62">
                                Inicio
                            </NavLink>
                        </li>
                        <li class="nav-item group ">
                            <span class="nav-link group text-black group-hover:bg-green-500 rounded-2xl">Socios</span>

                        <li class="nav-item-content rounded-xl" style="background-color:#10B981">
                            <div>
                                <NavLink class="dropdown nav-link text-black bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="socios">
                                    &nbspListado
                                </NavLink>
                            </div>
                            <div>
                                <NavLink class="dropdown nav-link text-black bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="establecimientos">
                                    &nbspEstablecimientos
                                </NavLink>
                            </div>
                        </li>
                        <li class="nav-item-content rounded-full">

                        </li>
                        </li>
                        <li class="nav-item group ">
                            <span class="nav-link group text-black group-hover:bg-green-500 hover:bg-blue-400 rounded-2xl">Planteles</span>
                        <li class="nav-item-content rounded-xl" style="background-color:#10B981">
                            <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="Planteles">
                                &nbspListado
                            </NavLink>
                        </li>
                        </li>

                        <li class="nav-item group ">
                            <span class="nav-link group text-black group-hover:bg-green-500 rounded-2xl">Inspecciones</span>
                        <li class="nav-item-content rounded-xl" style="background-color:#10B981">

                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="solicitudesinspeccion">
                                    &nbspSolicitudes
                                </NavLink>
                            </div>
                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="reportes">
                                    &nbspResultados
                                </NavLink>
                            </div>
                        </li>
                        <li class="nav-item-content rounded-full">

                        </li>
                        </li>
                        <li class="nav-item group ">
                            <span class="nav-link group text-black group-hover:bg-green-500 rounded-2xl">Toros Padres</span>
                        <li class="nav-item-content rounded-xl" style="background-color:#10B981">
                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="toros">
                                    &nbspListado
                                </NavLink>
                            </div>
                        </li>
                        <li class="nav-item-content rounded-full">

                        </li>
                        </li>

                        <li class="nav-item group ">
                            <span class="nav-link group text-black group-hover:bg-green-500 rounded-2xl">Certificados de semen</span>
                        <li class="nav-item-content rounded-xl" style="background-color:#10B981">
                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="certificados">
                                    &nbspListado
                                </NavLink>
                            </div>
                        </li>
                        <li class="nav-item-content rounded-full">

                        </li>
                        </li>
                        <li class="nav-item group ">
                            <span class="nav-link group text-black group-hover:bg-green-500 rounded-2xl">Transferencias</span>
                        <li class="nav-item-content rounded-xl" style="background-color:#10B981">
                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="transan">
                                    &nbspAnimales
                                </NavLink>
                            </div>
                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="transsb">
                                    &nbspToros S/
                                </NavLink>
                            </div>
                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="transfu">
                                    &nbspFuturo Control
                                </NavLink>
                            </div>

                        </li>
                        <li class="nav-item-content rounded-full">

                        </li>
                        </li>
                        <li class="nav-item group ">
                            <span class="nav-link group text-black group-hover:bg-green-500 rounded-2xl">Declaraciones de servicio</span>
                        <li class="nav-item-content rounded-xl" style="background-color:#10B981">
                            <div>
                                <NavLink class="dropdown nav-link text-black  bg-green-500 hover:bg-green-400 rounded-md" href="declaraciones">
                                    &nbspListado
                                </NavLink>
                            </div>
                        </li>
                        <li class="nav-item-content rounded-full">

                        </li>
                        </li>                      
                        <li class="hover:bg-green-500 rounded-2xl">
                            <NavLink class="nav-link text-black" href="animalescontrol" Match="NavLinkMatch.All" style="color:#133c62">
                                Animales Para Control
                            </NavLink>
                        </li>
                        <li class="nav-item group text-black group-hover:bg-green-500 rounded-2xl flex items-center gap-2">
                            <span class="nav-link group text-black group-hover:bg-green-500 rounded-2xl flex items-center gap-2">
                                <FeatherUser Color="Black"></FeatherUser>
                                <p>@displayUser</p>
                            </span>
                        <li class="nav-item-content rounded-xl" style="background-color:#93C5FD">
                            <div>
                                <NavLink class="dropdown nav-link text-black bg-green-500 hover:bg-green-400 rounded-md" style="color:#133c62" href="logout">
                                    &nbspCerrar sesion
                                </NavLink>  
                            </div>
                            <div>
                                <NavLink class="dropdown nav-link text-black bg-green-500 hover:bg-green-400 rounded-md" href="CambiarPassword">
                                    &nbspCambiar Contraseña
                                </NavLink>
                            </div>
                        </li>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    </Authorized>
</AuthorizeView>
@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private string userName = "Usuario no identificado";
    private string displayUser = "Usuario no identificado";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            var email = user.FindFirst(ClaimTypes.Email)?.Value;
            if (!string.IsNullOrWhiteSpace(email))
            {
                displayUser = email.Split('@')[0];
                userName = email;
                return;
            }

            var name = user.FindFirst(ClaimTypes.Name)?.Value;
            if (!string.IsNullOrWhiteSpace(name))
            {
                userName = name.Split(' ').Distinct().Aggregate((a, b) => $"{a} {b}");
                displayUser = userName;
            }
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}