@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims

<AuthorizeView Roles="ADMINISTRADOR,USUARIOMAESTRO">
    <Authorized>
        <nav class="navbar navbar-expand-xl main-navbar mb-4">
            <div class="container-fluid">
                <a href="" class="navbar-brand pe-3">
                    <img src="images/LOGO PRINCIPAL.png" class="nav-logo" alt="Logo" />
                </a>

                <button class="navbar-toggler @NavButtonCssClass" type="button" aria-label="Toggle navigation"
                        @onclick="ToggleNavMenu">
                    <FeatherList Color="black"></FeatherList>
                </button>

                <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapseAdmin">
                    <ul class="navbar-nav me-auto mb-2 mb-xl-0 w-100">
                        <li class="nav-item">
                            <NavLink class="nav-link text-black" href="" Match="NavLinkMatch.All"
                                     @onclick="CollapseNavMenu">Inicio</NavLink>
                        </li>

                        <li class="nav-item dropdown menu-dropdown">
                            <a class="nav-link dropdown-toggle text-black" href="#" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">Socios</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <NavLink class="dropdown-item" href="socios" @onclick="CollapseNavMenu">Listado
                                    </NavLink>
                                </li>
                                <li>
                                    <NavLink class="dropdown-item" href="establecimientos" @onclick="CollapseNavMenu">
                                        Establecimientos</NavLink>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown menu-dropdown">
                                <a class="nav-link dropdown-toggle text-black" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">Planteles</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <NavLink class="dropdown-item" href="planteles" @onclick="CollapseNavMenu">Listado
                                        </NavLink>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown menu-dropdown">
                                <a class="nav-link dropdown-toggle text-black" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">Inspecciones</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <NavLink class="dropdown-item" href="inspectores" @onclick="CollapseNavMenu">
                                            Inspectores</NavLink>
                                        </li>
                                        <li>
                                            <NavLink class="dropdown-item" href="solicitudesinspeccion"
                                                     @onclick="CollapseNavMenu">Solicitudes</NavLink>
                                        </li>
                                        <li>
                                            <NavLink class="dropdown-item" href="reportes" @onclick="CollapseNavMenu">Resultados
                                            </NavLink>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown menu-dropdown">
                                    <a class="nav-link dropdown-toggle text-black" href="#" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false"><span class="nav-label-full">Toros Padres</span><span class="nav-label-compact">Toros<br />Padres</span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <NavLink class="dropdown-item" href="toros" @onclick="CollapseNavMenu">Listado
                                            </NavLink>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown menu-dropdown">
                                    <a class="nav-link dropdown-toggle text-black" href="#" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false"><span class="nav-label-full">Centros de IA</span><span class="nav-label-compact">Centros<br />de IA</span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <NavLink class="dropdown-item" href="centros" @onclick="CollapseNavMenu">Listado
                                            </NavLink>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown menu-dropdown">
                                    <a class="nav-link dropdown-toggle text-black" href="#" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false"><span class="nav-label-full">Certificados de semen</span><span class="nav-label-compact">Certif.<br />de semen</span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <NavLink class="dropdown-item" href="certificados" @onclick="CollapseNavMenu">
                                                Listado</NavLink>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item dropdown menu-dropdown">
                                        <a class="nav-link dropdown-toggle text-black" href="#" role="button"
                                           data-bs-toggle="dropdown" aria-expanded="false"><span class="nav-label-full">Transferencias</span><span class="nav-label-compact">Trans.</span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <NavLink class="dropdown-item" href="transan" @onclick="CollapseNavMenu">Animales
                                                </NavLink>
                                            </li>
                                            <li>
                                                <NavLink class="dropdown-item" href="transsb" @onclick="CollapseNavMenu">Toros S/
                                                </NavLink>
                                            </li>
                                            <li>
                                                <NavLink class="dropdown-item" href="transfu" @onclick="CollapseNavMenu">Futuro
                                                    Control</NavLink>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="nav-item dropdown menu-dropdown">
                                            <a class="nav-link dropdown-toggle text-black" href="#" role="button"
                                               data-bs-toggle="dropdown" aria-expanded="false"><span class="nav-label-full">Declaraciones de servicio</span><span class="nav-label-compact">Declarac.<br />de<br />servicio</span></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <NavLink class="dropdown-item" href="declaraciones" @onclick="CollapseNavMenu">
                                                        Listado</NavLink>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li class="nav-item">
                                                <NavLink class="nav-link text-black" href="animalescontrol" Match="NavLinkMatch.All"
                                                         @onclick="CollapseNavMenu"><span class="nav-label-full">Animales Para Control</span><span class="nav-label-compact">Animales<br />p/control</span></NavLink>
                                            </li>

                                            <li class="nav-item dropdown menu-dropdown">
                                                <a class="nav-link dropdown-toggle text-black" href="#" role="button"
                                                   data-bs-toggle="dropdown" aria-expanded="false">Informes</a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <NavLink class="dropdown-item" href="reportegeneral" @onclick="CollapseNavMenu">
                                                            Inspecciones</NavLink>
                                                        </li>
                                                        <li>
                                                            <NavLink class="dropdown-item" href="reporteplantel" @onclick="CollapseNavMenu">
                                                                Planteles</NavLink>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li class="nav-item">
                                                    <NavLink class="nav-link text-black" href="consultas" Match="NavLinkMatch.All"
                                                             @onclick="CollapseNavMenu">Consultas</NavLink>
                                                </li>

                                                    <li class="nav-item dropdown menu-dropdown ms-xl-auto">
                                                        <a class="nav-link dropdown-toggle text-black d-flex align-items-center gap-2" href="#"
                                                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <FeatherUser Color="Black"></FeatherUser>
                                                            <span>@displayUser</span>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                            <li>
                                                                <NavLink class="dropdown-item" href="usuarios" @onclick="CollapseNavMenu">Ver
                                                                    usuarios</NavLink>
                                                                </li>
                                                                <li>
                                                                    <NavLink class="dropdown-item" href="registrousuario" @onclick="CollapseNavMenu">
                                                                        Crear usuario</NavLink>
                                                                    </li>
                                                                    <li>
                                                                        <NavLink class="dropdown-item" href="logout" @onclick="CollapseNavMenu">Cerrar
                                                                            sesion</NavLink>
                                                                        </li>
                                                                        <li>
                                                                            <NavLink class="dropdown-item" href="cambiarpassword" @onclick="CollapseNavMenu">
                                                                                Cambiar la Contrasena</NavLink>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </nav>
                                                </Authorized>
                                            </AuthorizeView>

                                            <AuthorizeView Roles="Socio">
                                                <Authorized>
                                                    <nav class="navbar navbar-expand-xl main-navbar mb-4">
                                                        <div class="container-fluid">
                                                            <a href="" class="navbar-brand pe-3">
                                                                <img src="images/LOGO PRINCIPAL.png" class="nav-logo" alt="Logo" />
                                                            </a>

                                                            <button class="navbar-toggler @NavButtonCssClass" type="button" aria-label="Toggle navigation"
                                                                    @onclick="ToggleNavMenu">
                                                                <FeatherList Color="black"></FeatherList>
                                                            </button>

                                                            <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapseSocio">
                                                                <ul class="navbar-nav me-auto mb-2 mb-xl-0 w-100">
                                                                    <li class="nav-item">
                                                                        <NavLink class="nav-link text-black" href="" Match="NavLinkMatch.All"
                                                                                 @onclick="CollapseNavMenu">Inicio</NavLink>
                                                                    </li>

                                                                    <li class="nav-item dropdown menu-dropdown">
                                                                        <a class="nav-link dropdown-toggle text-black" href="#" role="button"
                                                                           data-bs-toggle="dropdown" aria-expanded="false">Socios</a>
                                                                        <ul class="dropdown-menu">
                                                                            <li>
                                                                                <NavLink class="dropdown-item" href="socios" @onclick="CollapseNavMenu">Listado
                                                                                </NavLink>
                                                                            </li>
                                                                            <li>
                                                                                <NavLink class="dropdown-item" href="establecimientos" @onclick="CollapseNavMenu">
                                                                                    Establecimientos</NavLink>
                                                                                </li>
                                                                            </ul>
                                                                        </li>

                                                                        <li class="nav-item dropdown menu-dropdown">
                                                                            <a class="nav-link dropdown-toggle text-black" href="#" role="button"
                                                                               data-bs-toggle="dropdown" aria-expanded="false">Planteles</a>
                                                                            <ul class="dropdown-menu">
                                                                                <li>
                                                                                    <NavLink class="dropdown-item" href="planteles" @onclick="CollapseNavMenu">Listado
                                                                                    </NavLink>
                                                                                </li>
                                                                            </ul>
                                                                        </li>

                                                                        <li class="nav-item dropdown menu-dropdown">
                                                                            <a class="nav-link dropdown-toggle text-black" href="#" role="button"
                                                                               data-bs-toggle="dropdown" aria-expanded="false">Inspecciones</a>
                                                                            <ul class="dropdown-menu">
                                                                                <li>
                                                                                    <NavLink class="dropdown-item" href="solicitudesinspeccion"
                                                                                             @onclick="CollapseNavMenu">Solicitudes</NavLink>
                                                                                </li>
                                                                                <li>
                                                                                    <NavLink class="dropdown-item" href="reportes" @onclick="CollapseNavMenu">Resultados
                                                                                    </NavLink>
                                                                                </li>
                                                                            </ul>
                                                                        </li>

                                                                        <li class="nav-item dropdown menu-dropdown">
                                                                            <a class="nav-link dropdown-toggle text-black" href="#" role="button"
                                                                               data-bs-toggle="dropdown" aria-expanded="false"><span class="nav-label-full">Toros Padres</span><span class="nav-label-compact">Toros<br />Padres</span></a>
                                                                            <ul class="dropdown-menu">
                                                                                <li>
                                                                                    <NavLink class="dropdown-item" href="toros" @onclick="CollapseNavMenu">Listado
                                                                                    </NavLink>
                                                                                </li>
                                                                            </ul>
                                                                        </li>

                                                                        <li class="nav-item dropdown menu-dropdown">
                                                                            <a class="nav-link dropdown-toggle text-black" href="#" role="button"
                                                                               data-bs-toggle="dropdown" aria-expanded="false"><span class="nav-label-full">Certificados de semen</span><span class="nav-label-compact">Certif.<br />de semen</span></a>
                                                                            <ul class="dropdown-menu">
                                                                                <li>
                                                                                    <NavLink class="dropdown-item" href="certificados" @onclick="CollapseNavMenu">
                                                                                        Listado</NavLink>
                                                                                    </li>
                                                                                </ul>
                                                                            </li>

                                                                            <li class="nav-item dropdown menu-dropdown">
                                                                                <a class="nav-link dropdown-toggle text-black" href="#" role="button"
                                                                                   data-bs-toggle="dropdown" aria-expanded="false"><span class="nav-label-full">Transferencias</span><span class="nav-label-compact">Trans.</span></a>
                                                                                <ul class="dropdown-menu">
                                                                                    <li>
                                                                                        <NavLink class="dropdown-item" href="transan" @onclick="CollapseNavMenu">Animales
                                                                                        </NavLink>
                                                                                    </li>
                                                                                    <li>
                                                                                        <NavLink class="dropdown-item" href="transsb" @onclick="CollapseNavMenu">Toros S/
                                                                                        </NavLink>
                                                                                    </li>
                                                                                    <li>
                                                                                        <NavLink class="dropdown-item" href="transfu" @onclick="CollapseNavMenu">Futuro
                                                                                            Control</NavLink>
                                                                                        </li>
                                                                                    </ul>
                                                                                </li>

                                                                                <li class="nav-item dropdown menu-dropdown">
                                                                                    <a class="nav-link dropdown-toggle text-black" href="#" role="button"
                                                                                       data-bs-toggle="dropdown" aria-expanded="false"><span class="nav-label-full">Declaraciones de servicio</span><span class="nav-label-compact">Declarac.<br />de<br />servicio</span></a>
                                                                                    <ul class="dropdown-menu">
                                                                                        <li>
                                                                                            <NavLink class="dropdown-item" href="declaraciones" @onclick="CollapseNavMenu">
                                                                                                Listado</NavLink>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </li>

                                                                                    <li class="nav-item">
                                                                                        <NavLink class="nav-link text-black" href="animalescontrol" Match="NavLinkMatch.All"
                                                                                                 @onclick="CollapseNavMenu"><span class="nav-label-full">Animales Para Control</span><span class="nav-label-compact">Animales<br />p/control</span></NavLink>
                                                                                    </li>

                                                                                                    <li class="nav-item dropdown menu-dropdown ms-xl-auto">
                                                                                        <a class="nav-link dropdown-toggle text-black d-flex align-items-center gap-2" href="#"
                                                                                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                                            <FeatherUser Color="Black"></FeatherUser>
                                                                                            <span>@displayUser</span>
                                                                                        </a>
                                                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                                                            <li>
                                                                                                <NavLink class="dropdown-item" href="logout" @onclick="CollapseNavMenu">Cerrar
                                                                                                    sesion</NavLink>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <NavLink class="dropdown-item" href="cambiarpassword" @onclick="CollapseNavMenu">
                                                                                                        Cambiar Contrasena</NavLink>
                                                                                                    </li>
                                                                                                </ul>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </nav>
                                                                        </Authorized>
                                                                    </AuthorizeView>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private string userName = "Usuario no identificado";
    private string displayUser = "Usuario no identificado";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            var email = user.FindFirst(ClaimTypes.Email)?.Value;
            if (!string.IsNullOrWhiteSpace(email))
            {
                displayUser = email.Split('@')[0];
                userName = email;
                return;
            }

            var name = user.FindFirst(ClaimTypes.Name)?.Value;
            if (!string.IsNullOrWhiteSpace(name))
            {
                userName = name.Split(' ').Distinct().Aggregate((a, b) => $"{a} {b}");
                displayUser = userName;
            }
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }
}
