<RadzenCard Class="m-3">
    <div class="row">
        <h4><strong>Transaccion Nro: @oTransaccione.Id</strong></h4>
        <div class="col-md-6 col-xl-6">
            <div class="d-flex flex-row p-3">
                <div>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Establecimiento Comprador</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@oTransaccione.NombreComprador</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Establecimiento Vendedor</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@oTransaccione.NombreVendedor</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Fecha de la transaccion</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@oTransaccione.Fecha</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Total de toros vendidos</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@oTransaccione.Total</b></RadzenText>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6">
            <div class="d-flex flex-row p-3">
                <div>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Toros</RadzenText>
                    <RadzenText style="font-size: 13px" TextStyle="TextStyle.Body1"><b>@oTransaccione.Toros</b></RadzenText>
                </div>
            </div>
        </div>
    </div>
</RadzenCard>

@code{
    Transaccione oTransaccione = new();
    Respuesta<Transaccione> oRespuesta = new();
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (id != 0)
        {
            oRespuesta = await Http.GetFromJsonAsync<Respuesta<Transaccione>>($"/api/TransaccioneData/{id}");
            oTransaccione = oRespuesta.List;
        }
    }
    async Task cancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok($"Form was cancelled"));

    }
}