@using Blazored.Typeahead
@using PaginaToros.Client.Servicios.Contrato;
@inject ITorosServicio _torosServicio
@inject ISocioServicio _sociosServicio
<style>
    .bm-title {
        font-size: 25px;
        font-weight: bold;
    }
</style>
@if(socios.Count>0){
<div class="card">
    <div class="card-body">
        <EditForm Model="@oTorosuni" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
            <div class="row" style="width=100%;">
                <div class="col-sm">
                    <label class="col-sm">Propietario</label>
                    <BlazoredTypeahead SearchMethod="BusquedaSocios" placeholder="Buscar por nombre" EnableDropDown="true" @bind-Value="socioSeleccionado">
                        <SelectedTemplate Context="eleccion">
                            @eleccion.Nombre
                        </SelectedTemplate>
                        <ResultTemplate Context="eleccion">
                            @eleccion.Nombre
                        </ResultTemplate>
                    </BlazoredTypeahead>
                </div>
                <div class="col-sm">
                    <label>Estado</label><br />
                    <RadzenDropDown @bind-Value=@estadoTemp Data=@estados Style="width: 100%; max-width: 400px;" />
                    <ValidationMessage For="(()=> estadoTemp)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label>Variedad</label><br />
                    <RadzenDropDown @bind-Value=@oTorosuni.Variedad Data=@variedades Style="width: 100%; max-width: 400px;" />
                    <ValidationMessage For="(()=> oTorosuni.Variedad)" style="color:red;" />
                </div>
            </div>
            <br />
            <div class="row" style="width=100%;">
                <div class="col-sm">
                    <label class="col-sm">Desde que fecha es S/</label>
                    <RadzenDatePicker TValue="DateTime?" @bind-Value="@dateTemp" ShowTime="false" ShowSeconds="false" DateFormat="dd/MM/yyyy" Class="w-75" />
                    <button type="button" title="Eliminar" @onclick="() => dateTemp=null"><FeatherXCircle Size="16" Color="red" /></button>
                </div>
                <div class="col-sm">
                    <label class="col-sm">Circunferencia escrotal</label>
                    <InputText @bind-Value="@oTorosuni.CircEscrotal" class="form-control" placeholder=""></InputText>
                    <ValidationMessage For="(()=> oTorosuni.CircEscrotal)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label>Tipo de toro</label><br />
                    <RadzenDropDown @bind-Value=@tipoTemp Data=@tiposToro Style="width: 100%; max-width: 400px;" />
                    <ValidationMessage For="(()=> tipoTemp)" style="color:red;" />
                </div>
            </div>
            <br />
            <div class="row" style="width=100%;">
                <div class="col-sm">
                    <label class="col-sm">HBA</label>
                    <InputText @bind-Value="@oTorosuni.Hba" class="form-control" placeholder=""></InputText>
                    <ValidationMessage For="(()=> oTorosuni.Hba)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label class="col-sm">Tatuaje</label>
                    <InputText @bind-Value="@oTorosuni.Tatpart" class="form-control" placeholder=""></InputText>
                    <ValidationMessage For="(()=> oTorosuni.Tatpart)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label class="col-sm">Nombre del toro</label>
                    <InputText @bind-Value=@oTorosuni.NomDad class="form-control" placeholder="" />
                    <ValidationMessage For="(()=> oTorosuni.NomDad)" style="color:red;" />
                </div>
            </div>
            <br />
            <div class="row" style="width=100%;">
                <div class="col-sm">
                    <label class="col-sm">Tip / DNA</label>
                    <InputText @bind-Value=@oTorosuni.NrTsan class="form-control" placeholder="" />
                    <ValidationMessage For="(()=> oTorosuni.NrTsan)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label class="col-sm">Fecha de nacimiento</label>
                    <RadzenDatePicker TValue="DateTime?" @bind-Value="@oTorosuni.Nacido" ShowTime="false" ShowSeconds="false" DateFormat="dd/MM/yyyy" Class="w-75" />
                </div>
                <div class="col-sm">
                    <label class="col-sm">Numero de Orden</label>
                    <InputNumber @bind-Value="@oTorosuni.Sbcod" class="form-control" placeholder=""></InputNumber>
                    <ValidationMessage For="(()=> oTorosuni.Sbcod)" style="color:red;" />
                </div>
                <div class="col-sm"/>

            </div>
            <br />

            <br />

            <button type="submit" class="btn btn-primary mr-2">Aceptar</button>
            <button type="button" @onclick="cancel" class="btn btn-light">Cancelar</button>
        </EditForm>
    </div>
</div>
}
else
    {
        <br />
        <center>
            <div class="mb-2">
                <br />
                <RadzenProgressBar style="position:relative;width:93.5%" Value="100" ShowValue="false" ProgressBarStyle="ProgressBarStyle.Primary" Mode="ProgressBarMode.Indeterminate" />
            </div>
        </center>
    }
@code {
    TorosuniDTO oTorosuni = new();
    List<string> estados = new List<string> { "Activo", "Inexistente", "Muerto","Vendido" };
    List<string> variedades = new List<string> { "H", "PH" };
    List<string> tiposToro = new List<string> { "S/", "Puro Pedigree (SRA)","Patagonico" ,"Ganador de prueba" };

    Dictionary<string, string> traductor = new Dictionary<string, string>{
        {"Activo","1"},
        {"Inexistente","3"},
        {"Muerto","4"},
        {"Vendido","5"},
        {"Ganador de prueba","GP"},
        {"S/","S"},
        {"Puro Pedigree (SRA)","P"},
        {"Patagonico","A"}
    };
    Dictionary<string, string> traductorCarga = new Dictionary<string, string>{
        {"1","Activo"},
        {"3","Inexistente"},
        {"4","Muerto"},
        {"5","Vendido"},
        {"GP","Ganador de prueba"},
        {"S","S/"},
        {"P","Puro Pedigree (SRA)"},
        {"A","Patagonico"}
    };

    string estadoTemp = "";
    string tipoTemp = "";
    DateTime? dateTemp = null;
    SocioDTO? socioSeleccionado = null;
    List<SocioDTO> socios = new();
    string tipoToro = "";

    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var rta = await _sociosServicio.LimitadosFiltrados(0,0);
        socios = rta.List;

        if (Id != 0)
        {
            try
            {
                string filtro = $"Id = {Id}";
                var rt = await _torosServicio.LimitadosFiltradosNoInclude(0,1,filtro);
                oTorosuni = rt.List.FirstOrDefault();
                socioSeleccionado = socios.Where(x => x.Scod == oTorosuni.Criador).First();
                if (traductorCarga.ContainsKey(oTorosuni.CodEstado))
                {
                    estadoTemp = traductorCarga[oTorosuni.CodEstado];
                }
                if (traductorCarga.ContainsKey(oTorosuni.TipToro)){
                    tipoTemp = traductorCarga[oTorosuni.TipToro];
                }

                string format = "dd/MM/yyyy";
                if (DateTime.TryParseExact(oTorosuni.Fechasba, format, System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out DateTime parsedDate))
                {
                    dateTemp = parsedDate;
                }
                else
                {
                    dateTemp = null;
                }
            }
            catch (Exception ex)
            {
            }
        }
    }
    async Task Guardar()
    {
        oTorosuni.Criador = socioSeleccionado.Scod;
        if (traductor.ContainsKey(estadoTemp))
        {
            oTorosuni.CodEstado = traductor[estadoTemp];
        }
        if (traductor.ContainsKey(tipoTemp))
        {
            oTorosuni.TipToro = traductor[tipoTemp];
        }
        try{
            if(dateTemp.HasValue){
                oTorosuni.Fechasba = dateTemp.Value.ToString("dd/MM/yyyy");
            }
            else
            {
                oTorosuni.Fechasba = null;
            }
        }
        catch
        {

        }
        if (oTorosuni.Fecing == null)
        {
            oTorosuni.Fecing = "";
        }
        if (Id == 0)
        {
            _torosServicio.Crear(oTorosuni);
            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
        else
        {
            _torosServicio.Editar(oTorosuni);
            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
    }
    async Task cancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok($"Form was cancelled"));

    }


    private async Task<IEnumerable<SocioDTO>> BusquedaSocios(string searchText)
    {
        var result = socios.Where(x => x.Criador=="S" && x.Nombre.Contains(searchText, StringComparison.OrdinalIgnoreCase)).ToList();
        return await Task.FromResult(result);
    }

}
