@using Blazored.Typeahead
@using PaginaToros.Client.Servicios.Contrato;
@inject IPlantelServicio _plantelServicio
@inject ISocioServicio _socioServicio

<div class="card" >
    <div class="card-body">
        <EditForm Model="@oPlantel" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
            <div class="row" style="width=100%;">
                <div class="col-sm">
                    <label>Numero de Plantel</label>
                    <InputText class="form-control" disabled="@esSocio" @bind-Value="@oPlantel.Placod"
                               placeholder="Numero"></InputText>
                    <ValidationMessage For="(()=> oPlantel.Placod)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label>Fecha de existencia</label><br />
                    <RadzenDatePicker TValue="DateTime?" Disabled="esSocio" @bind-Value="@FechaTempCreacion" ShowTime="false" ShowSeconds="false" DateFormat="dd/MM/yyyy" Class="w-75" />
                </div>
                <div class="col-sm">
                    <label>Socio</label>
                    <BlazoredTypeahead SearchMethod="BusquedaSocios" placeholder="Busque socio por nombre" Disabled="esSocio" ValueExpression="@(()=>socioSeleccionado)"  EnableDropDown="true" ValueChanged="@( (SocioDTO c) => HandleSocioSeleccion(c) )" Value="socioSeleccionado" TValue="SocioDTO?" TItem="SocioDTO?">
                                <SelectedTemplate Context="eleccion">
                                    @eleccion.Nombre
                                </SelectedTemplate>
                                <ResultTemplate Context="eleccion">
                                    @eleccion.Nombre
                                </ResultTemplate>
                            </BlazoredTypeahead>
                </div>
                <div class="col-sm">
                    <label class="col-sm">Activo?</label><br/>
                    <input disabled="@esSocio" type="checkbox" @bind="@activo">
                </div>
            </div>
            <br />
            <div class="row" style="width=100%;">
                <div class="col-sm">
                    <label class="col-sm">Numero de ultima inspeccion</label>
                    <InputText @bind-Value="@oPlantel.Nroins" class="form-control" placeholder="" disabled="@esSocio"></InputText>
                    <ValidationMessage For="(()=> oPlantel.Nroins)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label>Fecha ultima inspeccion</label><br/>
                    <RadzenDatePicker TValue="DateTime?" @bind-Value="@oPlantel.Feulti" Disabled="esSocio" ShowTime="false" ShowSeconds="false" DateFormat="dd/MM/yyyy" Class="w-75" />
                </div>
                <div class="col-sm">
                    <label>Fecha ultima reinspeccion</label><br/>
                    <RadzenDatePicker TValue="DateTime?" @bind-Value="@oPlantel.Urein" Disabled="esSocio" ShowTime="false" ShowSeconds="false" DateFormat="dd/MM/yyyy" Class="w-75" />
                </div>

                
            </div>
            <br />
            <a style="margin:auto;">PURO REGISTRADO</a>
            <div class="row" style="width=100%;">
                <div class="col-sm">
                    <label>Vacas</label>
                    <InputNumber class="form-control" @bind-Value="@oPlantel.Varede" placeholder="" disabled="@esSocio"></InputNumber>
                    <ValidationMessage For="(()=> oPlantel.Varede)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label>Vaquillonas con servicio</label>
                    <InputNumber class="form-control" @bind-Value="@oPlantel.Vqcsrd" placeholder="" disabled="@esSocio"></InputNumber>
                    <ValidationMessage For="(()=> oPlantel.Vqcsrd)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label>Vaquillonas sin servicio</label>
                    <InputNumber class="form-control" @bind-Value="@oPlantel.Vqssrd" placeholder="" disabled="@esSocio"></InputNumber>
                    <ValidationMessage For="(()=> oPlantel.Vqssrd)" style="color:red;" />
                </div>
            </div>
            <br />
            <a style="margin:auto;">VIP</a>
            <div class="row" style="width=100%;">
                <div class="col-sm">
                    <label>Vacas</label>
                    <InputNumber class="form-control" @bind-Value="@oPlantel.Varepr" placeholder="" disabled="@esSocio"></InputNumber>
                    <ValidationMessage For="(()=> oPlantel.Varepr)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label>Vaquillonas con servicio</label>
                    <InputNumber class="form-control" @bind-Value="@oPlantel.Vqcsrp" placeholder="" disabled="@esSocio"></InputNumber>
                    <ValidationMessage For="(()=> oPlantel.Vqcsrp)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label>Vaquillonas sin servicio</label>
                    <InputNumber class="form-control" @bind-Value="@oPlantel.Vqssrp" placeholder="" disabled="@esSocio"></InputNumber>
                    <ValidationMessage For="(()=> oPlantel.Vqcsrp)" style="color:red;" />
                </div>
            </div>
            <br />
            <br />
            <button type="submit" class="btn btn-primary mr-2">Aceptar</button>
            <button type="button" @onclick="cancel" class="btn btn-light">Cancelar</button>
        </EditForm>
    </div>
</div>
@code {
    List<SocioDTO> socios = new();
    SocioDTO? socioSeleccionado = null;
    PlantelDTO oPlantel = new();
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int Id { get; set; }
    [Parameter] public bool esSocio { get; set; }
    DateTime? FechaTempCreacion = null;

    //string CodZona = "  ";
    bool activo = true;

    protected override async Task OnInitializedAsync()
    {
        var rta = await _socioServicio.LimitadosFiltrados(0,0);
        socios = rta.List.ToList();
        if (Id != 0)
        {
            try
            {
                string filtro = $"Id = {Id}";

                var rt = await _plantelServicio.LimitadosFiltradosNoInclude(0, 1,filtro);
                oPlantel = rt.List.FirstOrDefault();
                if (oPlantel.Estado=="S")
                {
                    activo = true;
                }
                else
                {
                    activo = false;
                }
                socioSeleccionado = socios.Where(x => x.Scod == oPlantel.Nrocri).FirstOrDefault();
                try{
                    FechaTempCreacion = new DateTime(Int32.Parse(oPlantel.Anioex), 1, 1);
                }catch{}
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }
    }
    async Task Guardar()
    {
        oPlantel.Nrocri = socioSeleccionado.Scod;
        if(FechaTempCreacion.HasValue){
            oPlantel.Anioex = FechaTempCreacion.Value.ToString("yyyy");
        }
        if (activo)
        {
            oPlantel.Estado = "S";
        }
        else
        {
            oPlantel.Estado = "N";
        }
        if (Id == 0)
        {
            if(oPlantel.Fecing==null){
                oPlantel.Fecing = "";
            }
            await _plantelServicio.Crear(oPlantel);
            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
        else
        {
            await _plantelServicio.Editar(oPlantel);
            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
    }
    async Task cancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok($"Form was cancelled"));

    }
    private async Task<IEnumerable<string>> SearchMethod(string searchText,List<string> lista)
    {
        var result = lista.Where(x => x.Contains(searchText, StringComparison.OrdinalIgnoreCase)).ToList();
        return await Task.FromResult(result);
    }
    private async Task<IEnumerable<SocioDTO>> BusquedaSocios(string searchText)
    {
        return await Task.FromResult(socios.Where(x => x.Criador=="S" &&  x.Nombre.ToLower().Contains(searchText.ToLower())).ToList());
    }

    private async Task HandleSocioSeleccion(SocioDTO socio)
    {
        socioSeleccionado = socio;
        var planteles = await _plantelServicio.GetBySocioId(socio.Id);
        foreach (var plan in planteles.List)
        {
            if(oPlantel.Placod==null){
                try{
                    var numero = plan.Placod[0];
                    oPlantel.Placod = (char.GetNumericValue(numero) + 1).ToString() + plan.Placod.Substring(1);
                
                }
                catch(Exception  ex)
                {
                    Console.WriteLine(ex.Message);
                }
            }
        }
        if(oPlantel.Placod==null){
            oPlantel.Placod = "1" + planteles.List.First().Placod.Substring(1);
        }
    }
}

