@using Blazored.Typeahead
@using PaginaToros.Client.Servicios.Contrato;
@inject ISolici1Servicio _solici1Servicio
@inject ISolici1AuxServicio _solici1AuxServicio
@inject IEstableServicio _estableServicio
@inject ISocioServicio _socioServicio
@if(establecimientos.Count>0){
<div class="card" >
    <div class="card-body">
        <EditForm Model="@oSolici1" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
            <div class="row" style="width=100%;">
                <div class="col-sm"/>
                    <div class="col-md-6">
                        <label>Socio</label>
                            <BlazoredTypeahead SearchMethod="BusquedaSocios" placeholder="Busque socio por nombre" Disabled="esSocio" EnableDropDown="true" @bind-Value="socioSeleccionado">
                                <SelectedTemplate Context="eleccion">
                                    @eleccion.Nombre
                                </SelectedTemplate>
                                <ResultTemplate Context="eleccion">
                                    @eleccion.Nombre
                                </ResultTemplate>
                            </BlazoredTypeahead>
                    </div>
                <div class="col-sm"/>
            </div>
            <br/>
            @if(socioSeleccionado!=null){
                <div class="row" style="width=100%;">
                    <div class="col-sm">
                        <label class="col-sm">Establecimiento</label>
                            <BlazoredTypeahead SearchMethod="BusquedaEstablecimientos" placeholder="Busque establecimiento por nombre" Disabled="esSocio" EnableDropDown="true" @bind-Value="establecimientoSeleccionado">
                                <SelectedTemplate Context="eleccion">
                                    @eleccion.Nombre
                                </SelectedTemplate>
                                <ResultTemplate Context="eleccion">
                                    @eleccion.Nombre
                                </ResultTemplate>
                            </BlazoredTypeahead>
                    </div>
                    <div class="col-sm">
                        <label>Fecha de Solicitud</label><br/>
                            <RadzenDatePicker TValue="DateTime?" @bind-Value="@oSolici1.Fecsol" ShowTime="false" Disabled="esSocio" ShowSeconds="false" DateFormat="dd/MM/yyyy" Class="w-75" />
                    </div>
                    <div class="col-sm">
                        <label>Fecha de Autorizacion</label><br/>
                            <RadzenDatePicker TValue="DateTime" @bind-Value="@FechaTemp" ShowTime="false" ShowSeconds="false" Disabled="esSocio" DateFormat="dd/MM/yyyy" Class="w-75" />
                    </div>
                </div>

                    @foreach(var soli in listadoSolicitudes)
                    {

                        <br />
                        <div class="row" style="width=100%;">
                            <div class="col-sm">
                                <label class="col-sm">Toros PR</label><br />
                                <InputNumber @bind-Value="@soli.Cantor" class="form-control" placeholder="Cantidad" disabled="@esSocio"></InputNumber>
                                <ValidationMessage For="(()=> soli.Cantor)" style="color:red;" />
                            </div>
                            <div class="col-sm">
                                <label class="col-sm">Vacas PR</label><br />
                                <InputNumber @bind-Value="@soli.Cantvq" class="form-control" placeholder="Cantidad" disabled="@esSocio"></InputNumber>
                                <ValidationMessage For="(()=> soli.Cantvq)" style="color:red;" />
                            </div>
                            <div class="col-sm">
                                <label class="col-sm">Vacas Vip</label><br />
                                <InputNumber @bind-Value="@soli.Canvac" class="form-control" placeholder="Cantidad" disabled="@esSocio"></InputNumber>
                                <ValidationMessage For="(()=> soli.Canvac)" style="color:red;" />
                            </div>
                            <div class="col-sm">
                                <label class="col-sm">Vaquillonas Vip</label><br />
                                <InputNumber @bind-Value="@soli.Canvaq" class="form-control" placeholder="Cantidad" disabled="@esSocio"></InputNumber>
                                <ValidationMessage For="(()=> soli.Canvaq)" style="color:red;" />
                            </div>
                            <div class="col-sm">
                                <label>Año</label><br />
                                <InputText @bind-Value="@soli.Anio" class="form-control" placeholder="Año" disabled="@esSocio"></InputText>
                            </div>
                            <div class="col-sm">
                                <br/>
                                <button style="padding-top:15px ;" type="button" title="Eliminar" disabled="esSocio" @onclick="() => deleteSolAux(soli.Id)"><FeatherXCircle Size="16" Color="red" /></button>
                            </div>
                        </div>
                    }

                    <br/>
                @if(!esSocio){
                <center style="padding-right:20px">
                    <button type="button" disabled="esSocio" class="font-bold px-4 py-3 rounded-2xl bg-gray-200 hover:bg-gray-300 hover:border-transparent transition ease-in duration-100 transform hover:-translate-y-1 active:translate-y-0" style="position:relative;left:3.33%" @onclick="()=>listadoSolicitudes.Add(new Solici1DTO())"><FeatherPlus Size="24" Color="Black" /></button>
                </center>
                    }
                <br />
                <div class="row" style="width=100%;">
                    <div class="col-sm">
                        <label class="col-sm">Reinspeccion?</label><br/>
                            <input type="checkbox" @bind="@activoReInspeccion" disabled="@esSocio">
                    </div>
                    <div class="col-sm">
                        <label class="col-sm">Control de Produccion?</label><br/>
                            <input type="checkbox" @bind="@activoControl" disabled="@esSocio">
                    </div>
                    <div class="col-sm">
                    </div>
                </div>
                
                <br />
                <br />   
            <button type="submit" class="btn btn-primary mr-2">Aceptar</button>
            }
            <button type="button" @onclick="cancel" class="btn btn-light">Cancelar</button>
        </EditForm>
    </div>
</div>
}
else
    {
        <br />
        <center>
            <div class="mb-2">
                <br />
                <RadzenProgressBar style="position:relative;width:93.5%" Value="100" ShowValue="false" ProgressBarStyle="ProgressBarStyle.Primary" Mode="ProgressBarMode.Indeterminate" />
            </div>
        </center>
    }
@code {
    Solici1DTO oSolici1 = new();
    List<SocioDTO> socios = new();
    List<EstableDTO> establecimientos = new();
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int Id { get; set; }
    [Parameter] public bool esSocio { get; set; }

    List<Solici1DTO> listadoSolicitudes = new ();
    List<Solici1AuxDTO> listadoSolicitudesAuxOriginal = new();
    DateTime FechaTemp = DateTime.Now.Date;
    bool activoReInspeccion = false;
    bool activoControl = false;
    SocioDTO? socioSeleccionado = null;
    EstableDTO establecimientoSeleccionado = new();

    protected override async Task OnInitializedAsync()
    {
        var rta = await _socioServicio.LimitadosFiltrados(0,0);
        socios = rta.List;
        var respuesta = await _estableServicio.LimitadosFiltradosNoInclude(0, 0);
        establecimientos = respuesta.List;
        if (Id != 0)
        {
            try
            {
                string filtro = $"Id = {Id}";
                var coso = await _solici1Servicio.LimitadosFiltradosNoInclude(0,1,filtro);
                oSolici1 = coso.List.FirstOrDefault();
                var rtaAux = await _solici1AuxServicio.GetBySolId(oSolici1.Id);
                listadoSolicitudesAuxOriginal = rtaAux.List;
                foreach(var solAux in listadoSolicitudesAuxOriginal){
                    Solici1DTO soli = new();
                    soli.Id = solAux.Id;
                    soli.Cantor = solAux.Cantor;
                    soli.Cantvq = solAux.Cantvq;
                    soli.Canvac = solAux.Canvac;
                    soli.Canvaq = solAux.Canvaq;
                    soli.Anio = solAux.Anio;
                    listadoSolicitudes.Add(soli);
                }
                establecimientoSeleccionado = establecimientos.Where(x => x.Ecod == oSolici1.Codest).FirstOrDefault();
                socioSeleccionado = socios.Where(x => x.Scod == establecimientoSeleccionado.Codsoc).FirstOrDefault();
                if (oSolici1.Reinsp=="S")
                {
                    activoReInspeccion = true;
                }
                else
                {
                    activoReInspeccion = false;
                }
                if (oSolici1.Produc=="S")
                {
                    activoControl = true;
                }
                else
                {
                    activoControl = false;
                }
                if (oSolici1.Fecins.HasValue)
                {
                    FechaTemp = oSolici1.Fecins.Value;
                }

            }
            catch (Exception ex)
            {
            }
        }
        if(listadoSolicitudesAuxOriginal.Count()==0){
            listadoSolicitudes.Add(oSolici1);
        }
        
    }
    async Task Guardar()
    {

        Solici1DTO soliPush = oSolici1;
        soliPush.Fecins = FechaTemp;
        if (activoControl)
        {
            soliPush.Produc = "S";
        }
        else
        {
            soliPush.Produc = "N";
        }
        if (activoReInspeccion)
        {
            soliPush.Reinsp = "S";
        }
        else
        {
            soliPush.Reinsp = "N";
        }
        soliPush.Codest = establecimientoSeleccionado.Ecod;

        if (Id == 0)
        {
            var rta = await _solici1Servicio.Crear(soliPush);
            oSolici1 = rta.List;
            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
        else
        {
            soliPush.Id = oSolici1.Id;
            var coso = await _solici1Servicio.Editar(soliPush);
            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
        foreach(var data in listadoSolicitudes)
        {
            if(data.Id==0 || data.Id==oSolici1.Id){
                Solici1AuxDTO soliAux = new();
                soliAux.Cantor = data.Cantor;
                soliAux.Cantvq = data.Cantvq;
                soliAux.Canvac = data.Canvac;
                soliAux.Canvaq = data.Canvaq;
                soliAux.Anio = data.Anio;
                soliAux.IdSoli = oSolici1.Id;
                await _solici1AuxServicio.Crear(soliAux);
            }
            else{
                Solici1AuxDTO soliAux = listadoSolicitudesAuxOriginal.Where(x => x.Id == data.Id).FirstOrDefault();
                soliAux.Cantor = data.Cantor;
                soliAux.Cantvq = data.Cantvq;
                soliAux.Canvac = data.Canvac;
                soliAux.Canvaq = data.Canvaq;
                soliAux.Anio = data.Anio;
                await _solici1AuxServicio.Editar(soliAux);
            }
        }
    }
    async Task cancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok($"Form was cancelled"));

    }
    public async Task deleteSolAux(int id)
    {
        await _solici1AuxServicio.Eliminar(id);
        listadoSolicitudesAuxOriginal= listadoSolicitudesAuxOriginal.Where(x=>x.Id!=id).ToList();
        listadoSolicitudes = listadoSolicitudes.Where(x=>x.Id!=id).ToList();
    }

    private async Task<IEnumerable<SocioDTO>> BusquedaSocios(string searchText)
    {
        return await Task.FromResult(socios.Where(x => x.Criador=="S" &&  x.Nombre.ToLower().Contains(searchText.ToLower())).ToList());
    }

    private async Task<IEnumerable<EstableDTO>> BusquedaEstablecimientos(string searchText)
    {
        return await Task.FromResult(establecimientos.Where(x => x.Codsoc==socioSeleccionado.Scod && x.Nombre.ToLower().Contains(searchText.ToLower())).ToList());
    }

}
