@using Blazored.Typeahead
@using PaginaToros.Client.Servicios.Contrato;
@inject ISolici1Servicio _solici1Servicio
@inject IEstableServicio _estableServicio
@inject ISocioServicio _socioServicio
@if(establecimientos.Count>0){
<div class="card" >
    <div class="card-body">
        <EditForm Model="@oSolici1" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
            <div class="row" style="width=100%;">
                <div class="col-sm"/>
                    <div class="col-md-6">
                        <label>Socio</label>
                            <BlazoredTypeahead SearchMethod="BusquedaSocios" placeholder="Busque socio por nombre"  EnableDropDown="true" @bind-Value="socioSeleccionado">
                                <SelectedTemplate Context="eleccion">
                                    @eleccion.Nombre
                                </SelectedTemplate>
                                <ResultTemplate Context="eleccion">
                                    @eleccion.Nombre
                                </ResultTemplate>
                            </BlazoredTypeahead>
                    </div>
                <div class="col-sm"/>
            </div>
            <br/>
            @if(socioSeleccionado!=null){
                <div class="row" style="width=100%;">
                    <div class="col-sm">
                        <label class="col-sm">Establecimiento</label>
                            <BlazoredTypeahead SearchMethod="BusquedaEstablecimientos" placeholder="Busque establecimiento por nombre" EnableDropDown="true" @bind-Value="establecimientoSeleccionado">
                                <SelectedTemplate Context="eleccion">
                                    @eleccion.Nombre
                                </SelectedTemplate>
                                <ResultTemplate Context="eleccion">
                                    @eleccion.Nombre
                                </ResultTemplate>
                            </BlazoredTypeahead>
                    </div>
                    <div class="col-sm">
                        <label>Fecha de Solicitud</label><br/>
                        <RadzenDatePicker TValue="DateTime?" @bind-Value="@oSolici1.Fecsol" ShowTime="false" ShowSeconds="false" DateFormat="dd/MM/yyyy" Class="w-75" />
                    </div>
                    <div class="col-sm">
                        <label>Fecha de Autorizacion</label><br/>
                        <RadzenDatePicker TValue="DateTime" @bind-Value="@FechaTemp" ShowTime="false" ShowSeconds="false" DateFormat="dd/MM/yyyy" Class="w-75" />
                    </div>
                    <div class="col-sm">
                        <label>Año</label><br />
                        <InputNumber @bind-Value="@oSolici1.Anio" class="form-control" placeholder="Año"></InputNumber>
                    </div>
                </div>
                <br />
                <div class="row" style="width=100%;">
                    <div class="col-sm">
                        <label class="col-sm">Toros PR</label><br />
                        <InputNumber @bind-Value="@oSolici1.Cantor" class="form-control" placeholder="Cantidad"></InputNumber>
                        <ValidationMessage For="(()=> oSolici1.Cantor)" style="color:red;" />
                    </div>
                    <div class="col-sm">
                        <label class="col-sm">Vacas PR</label><br />
                        <InputNumber @bind-Value="@oSolici1.Cantvq" class="form-control" placeholder="Cantidad"></InputNumber>
                        <ValidationMessage For="(()=> oSolici1.Cantvq)" style="color:red;" />

                    </div>
                    <div class="col-sm">
                        <label class="col-sm">Vacas Vip</label><br />
                        <InputNumber @bind-Value="@oSolici1.Canvac" class="form-control" placeholder="Cantidad"></InputNumber>
                        <ValidationMessage For="(()=> oSolici1.Canvac)" style="color:red;" />

                    </div>
                    <div class="col-sm">
                        <label class="col-sm">Vaquillonas Vip</label>
                        <InputNumber @bind-Value="@oSolici1.Canvaq" class="form-control" placeholder="Cantidad"></InputNumber>
                        <ValidationMessage For="(()=> oSolici1.Canvaq)" style="color:red;" />

                    </div>
                </div>
                <br />
                <div class="row" style="width=100%;">
                    <div class="col-sm">
                        <label class="col-sm">Reinspeccion?</label><br/>
                        <input type="checkbox" @bind="@activoReInspeccion">
                    </div>
                    <div class="col-sm">
                        <label class="col-sm">Control de Produccion?</label><br/>
                        <input type="checkbox" @bind="@activoControl">
                    </div>
                    <div class="col-sm">
                    </div>
                </div>
                
                <br />
                <br />   
            <button type="submit" class="btn btn-primary mr-2">Aceptar</button>
            }
            <button type="button" @onclick="cancel" class="btn btn-light">Cancelar</button>
        </EditForm>
    </div>
</div>
}
else
    {
        <br />
        <center>
            <div class="mb-2">
                <br />
                <RadzenProgressBar style="position:relative;width:93.5%" Value="100" ShowValue="false" ProgressBarStyle="ProgressBarStyle.Primary" Mode="ProgressBarMode.Indeterminate" />
            </div>
        </center>
    }
@code {
    Solici1DTO oSolici1 = new();
    List<SocioDTO> socios = new();
    List<EstableDTO> establecimientos = new();
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int Id { get; set; }
    DateTime FechaTemp = DateTime.Now.Date;
    bool activoReInspeccion = false;
    bool activoControl = false;
    SocioDTO? socioSeleccionado = null;
    EstableDTO establecimientoSeleccionado = new();

    protected override async Task OnInitializedAsync()
    {
        var rta = await _socioServicio.LimitadosFiltrados(0,0);
        socios = rta.List;
        var respuesta = await _estableServicio.LimitadosFiltradosNoInclude(0, 0);
        establecimientos = respuesta.List;
        if (Id != 0)
        {
            try
            {
                string filtro = $"Id = {Id}";
                var coso = await _solici1Servicio.LimitadosFiltradosNoInclude(0,1,filtro);
                oSolici1 = coso.List.FirstOrDefault();
                establecimientoSeleccionado = establecimientos.Where(x => x.Ecod == oSolici1.Codest).FirstOrDefault();
                socioSeleccionado = socios.Where(x => x.Scod == establecimientoSeleccionado.Codsoc).FirstOrDefault();
                if (oSolici1.Reinsp=="S")
                {
                    activoReInspeccion = true;
                }
                else
                {
                    activoReInspeccion = false;
                }
                if (oSolici1.Produc=="S")
                {
                    activoControl = true;
                }
                else
                {
                    activoControl = false;
                }
                if (oSolici1.Fecins.HasValue)
                {
                    FechaTemp = oSolici1.Fecins.Value;
                }

            }
            catch (Exception ex)
            {
            }
        }
    }
    async Task Guardar()
    {
        oSolici1.Fecins = FechaTemp;
        if (activoControl)
        {
            oSolici1.Produc = "S";
        }
        else
        {
            oSolici1.Produc = "N";
        }
        if (activoReInspeccion)
        {
            oSolici1.Reinsp = "S";
        }
        else
        {
            oSolici1.Reinsp = "N";
        }
        oSolici1.Codest = establecimientoSeleccionado.Ecod;

        if (Id == 0)
        {
            await _solici1Servicio.Crear(oSolici1);
            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
        else
        {
            await _solici1Servicio.Editar(oSolici1);
            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
    }
    async Task cancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok($"Form was cancelled"));

    }
    

    private async Task<IEnumerable<SocioDTO>> BusquedaSocios(string searchText)
    {
        return await Task.FromResult(socios.Where(x => x.Nombre.ToLower().Contains(searchText.ToLower())).ToList());
    }

    private async Task<IEnumerable<EstableDTO>> BusquedaEstablecimientos(string searchText)
    {
        return await Task.FromResult(establecimientos.Where(x => x.Codsoc==socioSeleccionado.Scod && x.Nombre.ToLower().Contains(searchText.ToLower())).ToList());
    }

}
