@page "/reportegeneral"
@using PaginaToros.Client.Servicios.Contrato;
@using Blazored.Typeahead;
@inject IResin1Servicio _resin1Servicio;
@inject IResin6Servicio _resin6Servicio;
@inject IInspectServicio _inspectServicio;

<div class="row">
    <div class="col-sm">
        <label>Seleccionar Forma de agrupacion</label>
        <br />
        <RadzenDropDown @bind-Value=@seleccion Data=@opciones Style="width: 100%; max-width: 400px;" />
    </div>
    <div class="col-sm">
        <label>Seleccionar Fecha Inicial</label>
        <RadzenDatePicker TValue="DateTime" @bind-Value=@FechaInicial ShowTime="false" ShowSeconds="false" DateFormat="dd/MM/yyyy" Class="w-75" />
    </div>
    <div class="col-sm">
        <label>Seleccionar Fecha Final</label>
        <RadzenDatePicker TValue="DateTime" @bind-Value=@FechaFinal ShowTime="false" ShowSeconds="false" DateFormat="dd/MM/yyyy" Class="w-75" />
    </div>
</div>
<div class="row">
    <div class="col-sm-1"/>
    <div class="col-sm">
        <label>Selecciona Inspectores a cubrir</label>
        <BlazoredTypeahead SearchMethod="BuscarInspector" @ref="selectIns"
        @bind-Values="inspectoresSeleccionados"
                            EnableDropDown="true"
                            Disabled="!terminado"
                            placeholder="Busque por Nombre">
            <SelectedTemplate Context="data">
                @data.Nombre
            </SelectedTemplate>
            <ResultTemplate Context="data">
                @data.Nombre
            </ResultTemplate>
        </BlazoredTypeahead>
    </div>
    <div class="col-sm-2"/>
    <div class="col-sm">
        <label>Selecciona Provincias a cubrir</label>
        <BlazoredTypeahead SearchMethod="BuscarProvincia" @ref="selectProv"
        @bind-Values="provinciasSeleccionadas" 
                           EnableDropDown="true"
                           placeholder="Busque por Nombre">
            <SelectedTemplate Context="data">
                @traductorProvinciaInverso[data]
            </SelectedTemplate>
            <ResultTemplate Context="data">
                @traductorProvinciaInverso[data]
            </ResultTemplate>
        </BlazoredTypeahead>
    </div>
    <div class="col-sm-1" />
</div>
<br/>
<button class="font-bold px-4 py-3 rounded-2xl bg-gray-200 hover:bg-gray-300 hover:border-transparent transition ease-in duration-100 transform hover:-translate-y-1 active:translate-y-0" style="position:relative;width:100%" @onclick="()=>ConfirmarDatos()">Generar Reporte</button>

@if (terminado && confirmado)
{
    <RadzenText TextStyle="Radzen.Blazor.TextStyle.H4">
        Reporte del @FechaInicial.ToString("dd/MM/yyyy") al @FechaFinal.ToString("dd/MM/yyyy")
    </RadzenText>
    <br/>
    <div class="row">
        @foreach (var provincia in provinciasSeleccionadas)
        {
            <RadzenText TextStyle="TextStyle.H5">@traductorProvinciaInverso[provincia]</RadzenText>
            <br/>
            <RadzenDataGrid PageSize="25" Density="Density.Compact" Data="@inspectoresSeleccionados.Where(i => listaDatos[provincia].Where(x => x.Resin1.Icod == i.Icod).Sum(t => t.Hdp) + listaDatos[provincia].Where(x => x.Resin1.Icod == i.Icod).Sum(t => t.Hpp) != 0)" TItem="InspectDTO" SelectionMode="DataGridSelectionMode.Single"
                            LogicalFilterOperator="LogicalFilterOperator.Or" PagerHorizontalAlign="HorizontalAlign.Center">
                <Columns>
                    <RadzenDataGridColumn TItem="InspectDTO" Property="Nombre" Title="Nombre del Inspector" />
                    <RadzenDataGridColumn TItem="InspectDTO" Property="" Title="Presentadas">
                        <Template Context="data">
                            @(listaDatos[provincia].Where(x => x.Resin1.Icod == data.Icod).Sum(t => t.Hdp) + listaDatos[provincia].Where(x => x.Resin1.Icod == data.Icod).Sum(t => t.Hpp))
                        </Template>    
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="InspectDTO" Property="" Title="Marcadas" Filterable="false">
                        <Template Context="data">
                            @(listaDatos[provincia].Where(x => x.Resin1.Icod == data.Icod).Sum(t => t.HdpM) + listaDatos[provincia].Where(x => x.Resin1.Icod == data.Icod).Sum(t => t.HppM))
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="InspectDTO" Property="" Title="Astadas" Filterable="false">
                        <Template Context="data">
                            @(listaDatos[provincia].Where(x => x.Resin1.Icod == data.Icod).Sum(t => t.HdpAs) + listaDatos[provincia].Where(x => x.Resin1.Icod == data.Icod).Sum(t => t.HppAs))
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
            <br/>
            <br/>
        }
    </div>
}
else if(confirmado)
{
    <br />
    <center>
        <div class="mb-2">
            <br />
            <RadzenProgressBar style="position:relative;" Value="100" ShowValue="false" ProgressBarStyle="ProgressBarStyle.Primary" Mode="ProgressBarMode.Indeterminate" />
        </div>
    </center>
}



@code {
    bool showDataLabels = false;
    bool confirmado = false;
    public BlazoredTypeahead<string,string> selectProv;
    public BlazoredTypeahead<InspectDTO, InspectDTO> selectIns;
    public DateTime FechaInicial { get; set; } = DateTime.Now.AddDays(-700);
    public DateTime FechaFinal { get; set; } = DateTime.Now;
    bool terminado = false;
    string seleccion = "";
    List<string> opciones = new List<string> { "Inspectores", "Provincias" };
    List<Resin1DTO> reportes = new();
    List<Resin6DTO> datos = new ();
    Dictionary<string,List<Resin6DTO>> listaDatos = new();
    List<Resin6DTO> datosActuales = new();
    List<InspectDTO> Inspects = null;
    List<string> provincias = new List<string> { "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23","24" };
    IList<string> provinciasSeleccionadas;
    IList<InspectDTO> inspectoresSeleccionados;
    Dictionary<string, string> traductorProvinciaInverso = new Dictionary<string, string>
    {
        {"01", "Chaco"},
        {"02", "Corrientes"},
        {"03", "Entre Rios"},
        {"04", "Santa Fe"},
        {"05", "Cordoba"},
        {"06", "La pampa"},
        {"07", "San Luis"},
        {"08", "Santa Cruz"},
        {"09", "Tierra del fuego"},
        {"10", "Chubut"},
        {"11", "Neuquen"},
        {"12", "Rio negro"},
        {"13", "Buenos Aires"},
        {"14", "Capital Federal"},
        {"15", "Catamarca"},
        {"16", "Formosa"},
        {"17", "Jujuy"},
        {"18", "La rioja"},
        {"19", "Mendoza"},
        {"20", "Misiones"},
        {"21", "Salta"},
        {"22", "San Juan"},
        {"23", "Santiago Del Estero"},
        {"24", "Tucuman"},
        {"",""}
    };


    protected override async Task OnInitializedAsync()
    {
        try{
            var rt = await _resin6Servicio.LimitadosFiltrados(0, 0);
            if (rt != null && rt.List != null)
            {
                datos = rt.List.Where(x => x.Resin1 != null && x.Resin1.Freali <= FechaFinal && x.Resin1.Freali >= FechaInicial).ToList();
            }
            var rtaa = await _inspectServicio.LimitadosFiltrados(0, 0);
            Inspects = rtaa.List;
            terminado = true;
            }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            selectProv.Values.Concat(provincias);
            selectIns.Values.Concat(Inspects);
        }
        return base.OnAfterRenderAsync(firstRender);
    }

    private async Task<IEnumerable<InspectDTO>> BuscarInspector(string searchText)
    {
        return await Task.FromResult(Inspects.Where(x => x.Nombre.ToLower().Contains(searchText.ToLower())).ToList());
    }
    private async Task<IEnumerable<string>> BuscarProvincia(string searchText)
    {
        return await Task.FromResult(provincias.Where(x => traductorProvinciaInverso[x].Contains(searchText.ToLower())).ToList());
    }
    public void ConfirmarDatos()
    {
        foreach (var provincia in provinciasSeleccionadas)
        {
            listaDatos.Add(provincia,datos.Where(x => x.Resin1.Establecimiento.Codpro == provincia).ToList());
        }
        confirmado = true;
    }
}
