@using Blazored.Typeahead
@using PaginaToros.Client.Servicios.Contrato;
@inject ICertifsemanServicio _certifsemanServicio
@inject ISocioServicio _socioServicio
@inject ICentrosiumServicio _centrosiumServicio
@inject HttpClient http




<style>
    .bm-title {
        font-size: 25px;
        font-weight: bold;
    }
</style>
@if (centros.Count>0){
<div class="card">
    <div class="card-body">
        <EditForm Model="@oCertifseman" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
            <div class="row" style="width=100%;">
                <div class="col-sm">
                    <label class="col-sm">Tipo</label>
                    <RadzenDropDown @bind-Value=@oCertifseman.TipoCert Data=@tipos Style="width: 100%; max-width: 400px;" />
                    <ValidationMessage For="(()=> oCertifseman.TipoCert)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label class="col-sm">Nro de certificado</label>
                    <InputText @bind-Value="@oCertifseman.NroCert" class="form-control" placeholder=""></InputText>
                    <ValidationMessage For="(()=> oCertifseman.NroCert)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label class="col-sm">Centro</label>
                    <BlazoredTypeahead SearchMethod="BusquedaCentros" placeholder="Buscar por nombre" EnableDropDown="true" @bind-Value="centroSeleccionado">
                        <SelectedTemplate Context="eleccion">
                            @eleccion.Nombre
                        </SelectedTemplate>
                        <ResultTemplate Context="eleccion">
                            @eleccion.Nombre
                        </ResultTemplate>
                    </BlazoredTypeahead>
                </div>
                    <div class="col-sm">
                        <label>Fecha de Venta</label><br />
                        <RadzenDatePicker TValue="DateTime?" @bind-Value="@oCertifseman.Fecvta" ShowTime="false" ShowSeconds="false" DateFormat="dd/MM/yyyy" Class="w-75" />
                        <button type="button" title="Eliminar" @onclick="() => oCertifseman.Fecvta=null"><FeatherXCircle Size="16" Color="red" /></button>
                    </div>
            </div>
            <br />
            <div class="row" style="width=100%;">
                <div class="col-sm">
                    <label class="col-sm">Socio</label>
                    <BlazoredTypeahead SearchMethod="BusquedaSocios" placeholder="Buscar por nombre" EnableDropDown="true" @bind-Value="socioSeleccionado">
                        <SelectedTemplate Context="eleccion">
                            @eleccion.Nombre
                        </SelectedTemplate>
                        <ResultTemplate Context="eleccion">
                            @eleccion.Nombre
                        </ResultTemplate>
                    </BlazoredTypeahead>
                </div>
                <div class="col-sm">
                    <label class="col-sm">Tipo de envase</label>
                    <InputText @bind-Value="@oCertifseman.TipEnv" class="form-control" placeholder=""></InputText>
                    <ValidationMessage For="(()=> oCertifseman.TipEnv)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label class="col-sm">Cantidad original de dosis</label>
                    <InputText @bind-Value="@oCertifseman.NrDosiOr" class="form-control" placeholder=""></InputText>
                    <ValidationMessage For="(()=> oCertifseman.NrDosiOr)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label class="col-sm">Cantidad de dosis remanentes</label>
                    <InputNumber @bind-Value="@oCertifseman.NrDosi" class="form-control" placeholder=""></InputNumber>
                    <ValidationMessage For="(()=> oCertifseman.NrDosi)" style="color:red;" />
                </div>
            </div>
            <br />
            <div class="row" style="width=100%;">
                <div class="col-sm">
                    <label class="col-sm">Tip/ADN</label>
                    <InputText @bind-Value="@oCertifseman.NrTsan" class="form-control" placeholder=""></InputText>
                    <ValidationMessage For="(()=> oCertifseman.NrTsan)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label class="col-sm">Macho Dador Nro</label>
                    <InputText @bind-Value="@oCertifseman.NrInsd" class="form-control" placeholder=""></InputText>
                    <ValidationMessage For="(()=> oCertifseman.TipEnv)" style="color:red;" />
                </div>
                <div class="col-sm">
                    <label class="col-sm">Variedad</label>
                    <RadzenDropDown @bind-Value=@oCertifseman.Variedad Data=@variedades Style="width: 100%; max-width: 400px;" />
                    <ValidationMessage For="(()=> oCertifseman.Variedad)" style="color:red;" />
                </div>
                    <div class="col-sm">
                        <label class="col-sm">Apodo</label>
                        <InputText @bind-Value="@oCertifseman.Apodacion" class="form-control" placeholder=""></InputText>
                        <ValidationMessage For="(()=> oCertifseman.Apodacion)" style="color:red;" />
                    </div>
            </div>
            <br />
            <div class="row" style="width=100%;">
                <div class="col-sm">
                    <label class="col-sm">Tipo de toro</label>
                        <RadzenDropDown @bind-Value=@oCertifseman.Apodo Data=@tiposToro Style="width: 100%; max-width: 400px;" />
                    <ValidationMessage For="(()=> tipoToro)" style="color:red;" />
                </div>
                @if (tipoToro == "S/")
                {
                    <div class="col-sm">
                        <label class="col-sm">HBA</label>
                        <InputText @bind-Value="@oCertifseman.Hba" class="form-control" placeholder=""></InputText>
                        <ValidationMessage For="(()=> oCertifseman.Hba)" style="color:red;" />
                    </div>
                    <div class="col-sm">
                        <label class="col-sm">Tatuaje</label>
                        <InputText @bind-Value="@oCertifseman.Tatpart" class="form-control" placeholder=""></InputText>
                        <ValidationMessage For="(()=> oCertifseman.Tatpart)" style="color:red;" />
                    </div>
                    <div class="col-sm">
                        <label class="col-sm">Nombre</label>
                        <InputText @bind-Value="@oCertifseman.NomDad" class="form-control" placeholder=""></InputText>
                        <ValidationMessage For="(()=> oCertifseman.NomDad)" style="color:red;" />
                    </div>
                }
                else
                {
                    <div class="col-sm">
                        <label class="col-sm">HBA</label>
                        <InputText @bind-Value="@oCertifseman.Hba" class="form-control" placeholder=""></InputText>
                        <ValidationMessage For="(()=> oCertifseman.Hba)" style="color:red;" />
                    </div>
                    <div class="col-sm">
                        <label class="col-sm">Tatuaje</label>
                        <InputText @bind-Value="@oCertifseman.Tatpart" class="form-control" placeholder=""></InputText>
                        <ValidationMessage For="(()=> oCertifseman.Tatpart)" style="color:red;" />
                    </div>
                    <div class="col-sm">
                        <label class="col-sm">Nombre</label>
                        <InputText @bind-Value="@oCertifseman.NomDad" class="form-control" placeholder=""></InputText>
                        <ValidationMessage For="(()=> oCertifseman.NomDad)" style="color:red;" />
                    </div>
                }
            </div>
            <br />

            <br />

            <button type="submit" class="btn btn-primary mr-2">Aceptar</button>
            <button type="button" @onclick="cancel" class="btn btn-light">Cancelar</button>
        </EditForm>
    </div>
</div>
}
else
{
    <br />
    <center>
        <div class="mb-2">
            <br />
            <RadzenProgressBar style="position:relative;width:93.5%" Value="100" ShowValue="false" ProgressBarStyle="ProgressBarStyle.Primary" Mode="ProgressBarMode.Indeterminate" />
        </div>
    </center>
}
@code {
    CertifsemanDTO oCertifseman = new();
    List<string> tipos = new List<string> {"Tercero","Propio","Importado"};
    List<string> variedades = new List<string> {"H","PH"};
    List<string> tiposToro = new List<string> {"S/","PP","GP"};

    SocioDTO? socioSeleccionado = null;
    List<SocioDTO> socios = new();
    CentrosiumDTO? centroSeleccionado = null;
    List<CentrosiumDTO> centros = new();
    string tipoToro = "";
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var rta = await _socioServicio.LimitadosFiltrados(0, 0);
        socios = rta.List;
        var rt = await _centrosiumServicio.LimitadosFiltrados(0, 0);
        centros = rt.List;
        Console.WriteLine("ADD");
        Console.WriteLine(Id);
        if (Id != 0)
        {
            try
            {
                string filtro = $"Id = {Id}";
                var rtt = await _certifsemanServicio.LimitadosFiltradosNoInclude(0, 1, filtro);

                oCertifseman = rtt.List.FirstOrDefault();
                centroSeleccionado = centros.Where(x => x.Nrocen == oCertifseman.Nrocen).FirstOrDefault();
                socioSeleccionado = socios.Where(x => x.Scod == oCertifseman.Nrocri).FirstOrDefault();

            }
            catch (Exception ex)
            {
            }
        }
        oCertifseman.TipEnv = "PAJUELAS";


    }
    async Task Guardar()
    {
        Console.WriteLine("Se envia");
        oCertifseman.Nrocri = socioSeleccionado.Scod;
        oCertifseman.Nrocen = centroSeleccionado.Nrocen;
        oCertifseman.Apodo = tipoToro;

        if (Id == 0)
        {
            try{
                oCertifseman.NrDosi = Int32.Parse(oCertifseman.NrDosiOr);

            }
            catch
            {
                oCertifseman.NrDosi = 0;

            }

            await _certifsemanServicio.Crear(oCertifseman);
            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
        else
        {

            await _certifsemanServicio.Editar(oCertifseman);


            Console.WriteLine("cAMBIO CERTIFICADO");
            Console.WriteLine("cAMBIO CERTIFICADO");


            var mail = $"Aviso de edición a un certificado\n" +
          $"certificado: {oCertifseman.Nrocri}\n" +
          $"Socio: {oCertifseman.Socio}\n" +
          $"Tipo: Edición\n";


            var request = new
            {
                Vendedor = oCertifseman.Socio,
                Comprador = oCertifseman.Socio,
                Mail = mail,
                Direccion = oCertifseman.Apodo
            };
            HttpResponseMessage response = await http.PostAsJsonAsync($"api/Transan/SendMail", request);

            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
    }
    async Task cancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok($"Form was cancelled"));

    }

    private async Task<IEnumerable<CentrosiumDTO>> BusquedaCentros(string searchText)
    {
        var result = centros.Where(x => x.Nombre.Contains(searchText, StringComparison.OrdinalIgnoreCase)).ToList();
        return await Task.FromResult(result);
    }

    private async Task<IEnumerable<SocioDTO>> BusquedaSocios(string searchText)
    {
        var result = socios.Where(x => x.Criador=="S" && x.Nombre.Contains(searchText, StringComparison.OrdinalIgnoreCase)).ToList();
        return await Task.FromResult(result);
    }

}
